[2015-07-25 15:12] kkamkou opened #80 "No 'Access-Control-Allow-Origin' header"
![2015-07-25-6146d02](https://cloud.githubusercontent.com/assets/305739/8890019/56228160-32f0-11e5-98e3-01a853b6430f.png)

*chrome

[2015-07-26 07:52] yegor256 commented on #80
@kkamkou hm... something is wrong on your side, I suspect. The header is present there, see:

<img width="940" alt="screen shot 2015-07-26 at 9 51 38 am" src="https://cloud.githubusercontent.com/assets/526301/8892992/ff3bbbaa-337b-11e5-8404-39a1caac1ffb.png">

[2015-07-26 08:27] kkamkou commented on #80
The font itself is okay, I can't see icons.
![2015-07-26-78cebf0](https://cloud.githubusercontent.com/assets/305739/8893080/ba1dc55e-3380-11e5-838b-b981cf1d2ba8.png)

[2015-07-26 08:32] yegor256 commented on #80
@kkamkou according to your screenshot, you don't see the font (Cambria) and icons. The font rendered on your screenshot is Georgia. Can you refresh again and send a new screenshot please?

[2015-07-26 08:40] kkamkou commented on #80
![2015-07-26-531f9c3](https://cloud.githubusercontent.com/assets/305739/8893112/c727a9a2-3382-11e5-806c-37e0195fc02f.png)

[2015-07-26 09:08] yegor256 commented on #80
@kkamkou what is left, what is right? )

[2015-07-26 09:09] kkamkou commented on #80
Cambria left, Georgia right

[2015-07-26 12:38] yegor256 commented on #80
@kkamkou yeah, I got that, but how can I reproduce the left and how the right one?

[2015-07-26 12:45] kkamkou commented on #80
Well, I'm not sure that we're trying to fix the icons problem ). Let me post a new screen from a windows machine.
<img width="515" alt="untitled picture" src="https://cloud.githubusercontent.com/assets/305739/8893944/a600d006-33a4-11e5-829c-c81577ffcfbe.png">

Also, could u check this [comment](https://github.com/yegor256/blog/issues/80#issuecomment-124957552)

[2015-07-26 12:57] yegor256 commented on #80
@kkamkou yes, you're right, this header is not present for the icon font... thanks for reporting, let me investigate and fix

[2015-07-27 12:06] #80 closed

[2015-11-14 21:06] kkamkou opened #89 "Anchor links are incorrect"
Hi 256!

Example: http://www.yegor256.com/2015/08/04/nine-steps-start-software-project.html
Link to the `Decisions and Alternatives`: `http://www.yegor256.com/#decisions-and-alternatives`

[2015-11-21 09:36] yegor256 commented on #89
@kkamkou thanks for reporting! I believe it's fixed now

[2015-11-21 09:36] #89 closed

[2016-02-09 08:04] mkordas opened #102 "Test method names"
In https://github.com/yegor256/blog/blob/c280b45d7dcb3045d76f4791cff43cb3f8a7badc/_posts/2014/apr/2014-04-27-typical-mistakes-in-java-code.md#L110 it is written:

Example has verb as first word, something is wrong here.

They do not start with 'can', they start with class name.

Space is missing

Should be `Javadoc`. Moreover, do you think that word `cannot` is acceptable instead of `can` in Javad

[2016-02-10 21:44] mkordas opened #103 "Links on '12 Best Articles' do not work"
Links to articles on http://www.yegor256.com/best.html do not work - they link to the page itself. Let's fix them.

[2016-02-10 21:56] yegor256 commented on #103
fixed in e504e365ec64c1b3d97ffec89fd609c3b9b1676f thanks!

[2016-02-10 21:56] #103 closed

[2017-03-15 08:56] terales opened #149 "Link webinar "How to Cut Corners and Stay Cool (webinar #15)" to blog articles"
[Webinar no. 15](https://www.youtube.com/watch?v=YBQoTZ-1X-o) is linked to these articles:
* http://www.yegor256.com/2015/01/15/how-to-cut-corners.html
* http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

I'm going to create a PR for it with adding this video to `youtube` param.

[2017-03-15 08:56] 0crat commented on #149
@yegor256 please, pay attention to this issue

[2017-03-16 07:28] #149 closed

[2017-04-21 07:17] Hohol opened #154 "Wrong image size in "Incremental Billing" post"
![screenshot](https://cloud.githubusercontent.com/assets/2988117/25266793/8860802c-2683-11e7-8469-792a80e01359.jpg)
http://www.yegor256.com/2014/10/21/incremental-billing.html
Other images in this page look fine. I use Chrome on Mac OS.

[2017-04-21 07:17] 0crat commented on #154
@yegor256 please, pay attention to this issue

[2017-04-24 06:28] yegor256 commented on #154
@Hohol what is your browser?

[2017-04-24 08:02] Hohol commented on #154
@yegor256 I can't reproduce it anymore. Page looks fine today.
Browser is Google Chrome.

[2017-05-20 19:09] yegor256 commented on #154
@Hohol I believe the problem was fixed here: https://github.com/yegor256/jare/issues/31 Please, close the ticket

[2017-05-21 00:53] #154 closed

[2017-05-21 00:53] 0crat commented on #154
Oops! Job `gh:yegor256/blog#154` was not in scope

[2017-06-01 11:55] t-izbassar opened #165 "Line number in code snippets"
Maybe you will consider adding line numbers in code snippets? I think it will encrease readability of your posts. Just a suggestion.

[2017-06-01 11:55] 0crat commented on #165
@yegor256 please, pay attention to this issue

[2017-06-02 09:38] yegor256 commented on #165
@t-izbassar I was doing that two years ago, but not anymore. In my opinion, they are not helping anyhow, but are making the code more difficult to copy-paste. Do you really need them?

[2017-06-02 15:21] t-izbassar commented on #165
Well, not so much. I just was reading some of your posts and in that you was linking to line numbers from text. I guess that was an old one.
If code sample is really small and verbose there is no need in it. And I guess that you included line number in the code itself but it can be done through some css maybe so that it will not be the part of text code.
I just caught myself reading text with link

[2017-06-02 15:21] #165 closed

[2017-06-02 15:21] 0crat commented on #165
Oops! Job `gh:yegor256/blog#165` was not in scope

[2017-08-04 10:04] rozhok opened #181 "The TDD That Works for Me does not have "tdd" tag"
Please add one for better searchability.

http://www.yegor256.com/2017/03/24/tdd-that-works.html

https://github.com/yegor256/blog/blob/master/_posts/2017/mar/2017-03-24-tdd-that-works.md
does have "testing" tag but does not have "tdd".

[2017-08-04 10:04] 0crat commented on #181
@yegor256 please, pay attention to this issue

[2017-08-04 16:24] yegor256 commented on #181
@rozhok fixed: https://github.com/yegor256/blog/commit/242f14b811a7d22f30d33b87dbb5d3ffaed2c0f8  pls close the ticket

[2017-08-05 15:37] rozhok commented on #181
Thanks!

[2017-08-05 15:37] #181 closed

[2017-08-05 15:37] 0crat commented on #181
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-10 12:28] pa9ey commented on #102
The fact that this issue had been sitting here for so long was bugging me, so I thought I'd do something about it... 😃

[2017-09-11 17:57] pa9ey commented on #102
@mkordas Should be pretty much fixed now. :)

[2017-11-18 20:01] filfreire opened #200 "Copenhagen, Sweden?"
The blog post

https://github.com/yegor256/blog/blob/033940f29bb56a81ee94fad7aa3f322d6ba01c29/_posts/2016/nov/2016-11-09-why-no-ebooks.md

the place is marked as Copenhagen, Sweden.

Copenhagen is in Denmark.

[2017-11-18 20:01] 0crat commented on #200
@yegor256 please, pay attention to this issue

[2017-11-19 09:29] yegor256 commented on #200
@filfreire thanks, my bad)

[2017-11-19 09:29] #200 closed

[2017-11-19 09:31] 0crat commented on #200
Oops! There is no order for job `gh:yegor256/blog#200`.

[2017-11-19 09:31] 0crat commented on #200
Oops! Job `gh:yegor256/blog#200` is not in scope.

[2017-12-28 09:32] filfreire opened #213 "No HTTPS connection to blog."
Seems HTTPS connection is not available at the moment:

![screen shot 2017-12-28 at 09 31 29](https://user-images.githubusercontent.com/11976836/34406623-04d0ea7c-ebb2-11e7-805d-8b15a435068c.png)

[2017-12-28 09:32] 0crat commented on #213
@yegor256 please, pay attention to this issue

[2017-12-28 09:32] filfreire commented on #213
@yegor256 fyi

[2017-12-29 11:24] yegor256 commented on #213
@filfreire yeah, I know. Can't really find the right way to implement it.

[2017-12-29 12:47] filfreire commented on #213
@yegor256, we could try to create a webservice that commits a new certificate from letsencrypt?
https://letsencrypt.org/getting-started/

[2017-12-29 12:47] 0crat commented on #213
@yegor256 please, pay attention to this issue

[2017-12-29 12:47] 0crat commented on #213
Oops! Job `gh:yegor256/blog#213` is not assigned, can't get start time

[2017-12-29 12:47] 0crat commented on #213
Oops! Job `gh:yegor256/blog#213` was not in scope

[2017-12-31 16:48] yegor256 commented on #213
@filfreire yes, I'm thinking about something like that. There is cloudflare, which does something like that, but it's rather complex to configure (maybe I'm wrong).

[2018-01-03 13:29] filfreire opened #215 "Update "OO input and output in Cactoos""
The Cactoos usages of post
https://github.com/yegor256/blog/blob/master/_posts/2017/jun/2017-06-22-object-oriented-input-output-in-cactoos.md need to be updated according to a recent Cactoos version.

[2018-01-03 13:30] 0crat commented on #215
@yegor256 please, pay attention to this issue

[2018-01-04 14:42] t-izbassar opened #217 "Put link on agenda from main page"
I guess that it was like your personal plan on blog posts. Maybe add it as link on the main page?

[2018-01-04 14:42] 0crat commented on #217
@yegor256 please, pay attention to this issue

[2018-01-05 06:45] yegor256 commented on #217
@t-izbassar it is linked from this page: http://www.yegor256.com/contents.html I don't want to link it from the home page, since it's very "drafty" and not accurate.

[2018-01-05 06:45] #217 closed

[2018-01-05 06:45] 0crat commented on #217
Oops! Job `gh:yegor256/blog#217` is not assigned, can't get start time

[2018-01-05 06:45] 0crat commented on #217
Oops! Job `gh:yegor256/blog#217` was not in scope

[2018-01-08 19:00] yegor256 commented on #215
@filfreire I don't think it's necessary, since it says in the beginning of the article that it's relevant only for a particular version of the library. Or you think I should update the article every time a new version of Cactoos is released?

[2018-01-10 20:58] rozhok commented on #213
It's easy to configure even on CloudFlare.

Also, consider using Netlify for hosting, it provides certs for free (as well as ton of other features).

[2018-01-16 21:24] filfreire opened #223 "Create a list of non-technical/non-software books mentioned"
Sometimes there's mention of non-software books on blog posts, podcasts, twitter or telegram but these are scattered.

Examples:
- https://www.amazon.com/Myth-Monogamy-Fidelity-Infidelity-Animals/dp/0805071369/  (telegram)
- https://www.amazon.com/Hiring-Geeks-That-Johanna-Rothman-ebook/dp/B00AUYNM38/ (podcast)
- https://www.amazon.com/Manage-Your-Slaves-Marcus-Sidonius/dp/1781252521/ (blog post)

[2018-01-16 21:24] 0crat commented on #223
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 14:22] yegor256 commented on #223
@filfreire maybe it's better to maintain this list in GoodReads?

[2018-01-17 14:35] filfreire commented on #223
@yegor256 sure :+1:

[2018-02-11 21:40] ashtonhogan opened #230 "add some more examples to Law of Demeter"
This post isn't clear enough, what is the correct approach?
Some examples of the wrong approach?
This is a big factor in doing OOP correctly and I think this post could benefit from having a lot more information

blog/_posts/2016/jul/2016-07-18-law-of-demeter.md

[2018-02-11 21:40] 0crat commented on #230
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:44] yegor256 commented on #230
@ashtonhogan you can post these kind of comments/requests right in the blog, in the comments section. This issue tracker is for bugs, typos, technical problems, etc. Thanks.

[2018-02-12 15:44] #230 closed

[2018-02-12 15:44] 0crat commented on #230
Job `gh:yegor256/blog#230` is not assigned, can't get start time

[2018-02-12 15:54] 0crat commented on #230
Job [#230](https://github.com/yegor256/blog/issues/230) was not in scope

[2018-03-27 14:23] yegor256 opened #241 "rultor instead of travis"

[2018-03-27 14:25] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376544360)

[2018-03-27 14:38] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376544360) (spent 13min)

[code]

[2018-03-27 19:14] yegor256 commented on #241
@rultor deploy

[2018-03-27 19:15] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376642145)

[2018-03-27 20:16] yegor256 commented on #241
@rultor deploy

[2018-03-27 20:17] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376660393)

[2018-03-27 20:42] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376660393) (spent 24min)

[code]

[2018-03-27 22:06] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376680248) (spent 43min)

[code]

[2018-03-27 22:07] yegor256 commented on #241
@rultor deploy

[2018-03-27 22:09] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376691835)

[2018-03-27 22:26] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376691835) (spent 18min)

[code]

[2018-03-28 05:44] yegor256 commented on #241
@rultor deploy

[2018-03-28 05:45] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376768552)

[2018-03-28 06:15] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14201-376768552) (took me 30min)

[2018-03-28 07:04] yegor256 commented on #241
@rultor deploy

[2018-03-28 07:05] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376783612)

[2018-03-28 07:23] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376783612) (spent 18min)

[code]

[2018-03-28 07:46] yegor256 commented on #241
@rultor deploy

[2018-03-28 07:46] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376793375)

[2018-03-28 08:06] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376793375) (spent 19min)

[code]

[2018-03-28 08:09] yegor256 commented on #241
@rultor deploy

[2018-03-28 08:11] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376799547)

[2018-03-28 08:40] rultor commented on #241
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14201-376799547) (spent 29min)

[code]

[2018-03-28 09:18] yegor256 commented on #241
@rultor deploy

[2018-03-28 09:18] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376818998)

[2018-03-28 09:55] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14201-376818998) (took me 36min)

[2018-03-28 12:33] yegor256 commented on #241
@rultor deploy

[2018-03-28 12:34] rultor commented on #241
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14201-376870123)

[2018-03-28 13:06] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14201-376870123) (took me 32min)

[2018-03-29 11:48] yegor256 opened #244 "Spammy structured markup"
https://support.google.com/webmasters/answer/3498001?ctx=MAC

[2018-03-29 11:50] yegor256 commented on #244
@rultor deploy

[2018-03-29 11:50] rultor commented on #244
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14207-377210725)

[2018-03-29 12:09] rultor commented on #244
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14207-377210725) (spent 19min)

[code]

[2018-03-29 13:16] yegor256 commented on #244
@rultor deploy

[2018-03-29 13:17] rultor commented on #244
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14207-377231770)

[2018-03-29 13:49] rultor commented on #244
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14207-377231770) (took me 31min)

[2018-03-29 14:15] #244 closed

[2018-03-29 14:31] 0crat commented on #244
The job is not in WBS, won't close the order

[2018-04-01 05:42] #241 closed

[2018-04-01 05:42] yegor256 opened #245 "exclude index from sitemap"
exclude it

[2018-04-01 05:42] yegor256 commented on #245
@rultor deploy

[2018-04-01 05:42] #245 closed

[2018-04-01 05:43] rultor commented on #245
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14221-377758774)

[2018-04-01 05:57] 0crat commented on #241
The job is not in WBS, won't close the order

[2018-04-01 05:58] 0crat commented on #245
The job is not in WBS, won't close the order

[2018-04-01 06:15] rultor commented on #245
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14221-377758774) (took me 32min)

[2018-04-02 06:56] yegor256 opened #246 "shift-m 24"

[2018-04-02 06:57] yegor256 commented on #246
@rultor deploy

[2018-04-02 06:57] rultor commented on #246
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14224-377869805)

[2018-04-02 07:29] rultor commented on #246
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14224-377869805) (took me 31min)

[2018-04-02 07:31] #246 closed

[2018-04-02 07:46] 0crat commented on #246
The job is not in WBS, won't close the order

[2018-04-03 14:23] yegor256 opened #248 "rename Teamed to Zerocracy"

[2018-04-03 19:39] yegor256 commented on #248
@rultor deploy

[2018-04-03 19:40] rultor commented on #248
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14241-378371025)

[2018-04-03 19:59] rultor commented on #248
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14241-378371025) (spent 19min)

[code]

[2018-04-03 20:15] yegor256 commented on #248
@rultor deploy

[2018-04-03 20:16] rultor commented on #248
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14241-378382024)

[2018-04-04 06:07] #248 closed

[2018-04-04 06:07] yegor256 opened #249 "RSS feeds per tag"
Let's add them

[2018-04-05 04:47] yegor256 opened #250 "more videos to articles"

[2018-04-05 05:02] yegor256 commented on #250
@rultor deploy

[2018-04-05 05:03] rultor commented on #250
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14249-378820951)

[2018-04-05 06:39] yegor256 commented on #250
@rultor deploy

[2018-04-05 06:40] rultor commented on #250
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14249-378835311)

[2018-04-05 07:13] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14249-378835311) (took me 33min)

[2018-04-05 07:13] 0crat commented on #250
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-05 09:08] #250 closed

[2018-04-05 09:15] yegor256 opened #251 "youtube videos with key"

[2018-04-05 09:26] yegor256 commented on #251
@rultor deploy

[2018-04-05 09:27] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378874981)

[2018-04-05 09:33] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14251-378874981) (spent 5min)

[code]

[2018-04-05 09:42] yegor256 commented on #251
@rultor deploy

[2018-04-05 09:43] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378879279)

[2018-04-05 09:49] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14251-378879279) (spent 7min)

[code]

[2018-04-05 10:04] yegor256 commented on #251
@rultor deploy

[2018-04-05 10:04] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378884826)

[2018-04-05 10:24] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14251-378884826) (spent 20min)

[code]

[2018-04-05 12:12] yegor256 commented on #251
@rultor deploy

[2018-04-05 12:13] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378915103)

[2018-04-05 12:32] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14251-378915103) (spent 19min)

[code]

[2018-04-05 13:00] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378927367)

[2018-04-05 14:09] yegor256 commented on #251
@rultor deploy

[2018-04-05 14:09] rultor commented on #251
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14251-378949244)

[2018-04-05 14:43] rultor commented on #251
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14251-378949244) (took me 34min)

[2018-04-05 15:45] #251 closed

[2018-04-05 15:45] 0crat commented on #251
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-05 16:01] 0crat commented on #251
The job is not in WBS, won't close the order

[2018-04-05 17:01] 0crat commented on #251
The job is not in WBS, won't close the order

[2018-04-06 11:21] yegor256 opened #252 "place all pet projects into ProductHunt"

[2018-04-09 11:00] yegor256 opened #253 "boilerplate"

[2018-04-09 11:25] rultor commented on #253
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14276-379719248)

[2018-04-09 12:09] rultor commented on #253
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14276-379719248) (took me 45min)

[2018-04-09 13:19] #253 closed

[2018-04-09 13:35] 0crat commented on #253
The job is not in WBS, won't close the order

[2018-04-09 18:13] yegor256 commented on #253
@rultor deploy

[2018-04-09 18:15] rultor commented on #253
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14276-379844237)

[2018-04-09 18:49] rultor commented on #253
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14276-379844237) (took me 34min)

[2018-04-16 13:54] yegor256 opened #255 "shift-m 25"

[2018-04-16 14:06] yegor256 commented on #255
@rultor deploy

[2018-04-16 14:12] rultor commented on #255
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14315-381611514)

[2018-04-16 14:45] rultor commented on #255
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14315-381611514) (took me 32min)

[2018-04-16 14:52] #255 closed

[2018-04-16 15:00] yegor256 commented on #255
@rultor deploy

[2018-04-16 15:03] rultor commented on #255
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14315-381630272)

[2018-04-16 15:09] 0crat commented on #255
The job is not in WBS, won't close the order

[2018-04-16 15:45] rultor commented on #255
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14315-381630272) (took me 42min)

[2018-04-18 17:40] filfreire opened #257 ""Blame-Free Software Quality Control" article?"
@yegor256, in a recent commit,

https://github.com/yegor256/blog/commit/778a3e818ccf57701d8326055a240d61e6d39826#diff-e31d69d96d4f33e66b0802adab28a13f , you deleted an article entitled "Blame-Free Software Quality Control".

I believe the article's content is of value and there would be benefit to the community in having a post or a page with this content.

Was this in order to put it on an actual

[2018-04-18 17:40] 0crat commented on #257
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 17:40] 0crat commented on #257
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 17:28] yegor256 commented on #257
@filfreire I will publish it in a magazine, that's the goal. Not on the blog.

[2018-04-19 17:28] #257 closed

[2018-04-19 17:28] yegor256 opened #258 "shift-m 26"

[2018-04-19 17:44] 0crat commented on #257
The job is not in WBS, won't close the order

[2018-04-21 20:40] yegor256 opened #260 "highlight menu"

[2018-04-21 20:43] yegor256 commented on #260
@rultor deploy

[2018-04-21 20:44] #260 closed

[2018-04-21 20:44] rultor commented on #260
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14348-383328282)

[2018-04-21 20:51] rultor commented on #260
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14348-383328282) (spent 7min)

[code]

[2018-04-21 20:58] skapral opened #261 "Wrong amazon link on "EO vol. 3"?"
See http://www.yegor256.com/books.html.

There is an Amazon link on "Elegant Objects vol. 2" in the announced "Elegant Objects vol. 3 section. Was it done by mistake?

[2018-04-21 20:58] 0crat commented on #261
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-21 20:58] 0crat commented on #261
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-21 20:59] 0crat commented on #260
The job is not in WBS, won't close the order

[2018-04-22 06:45] yegor256 commented on #260
@rultor deploy

[2018-04-22 06:45] rultor commented on #260
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14348-383359589)

[2018-04-22 06:46] yegor256 commented on #261
@skapral fixed, thanks

[2018-04-22 06:46] #261 closed

[2018-04-22 07:01] 0crat commented on #261
The job is not in WBS, won't close the order

[2018-04-22 07:04] rultor commented on #260
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14348-383359589) (spent 18min)

[code]

[2018-04-22 07:12] yegor256 commented on #260
@rultor deploy

[2018-04-22 07:14] rultor commented on #260
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14348-383360694)

[2018-04-22 07:47] rultor commented on #260
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14348-383360694) (took me 34min)

[2018-04-23 08:46] yegor256 commented on #258
@rultor deploy

[2018-04-23 08:48] rultor commented on #258
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14351-383500883)

[2018-04-23 09:08] rultor commented on #258
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14351-383500883) (spent 20min)

[code]

[2018-04-23 09:12] yegor256 commented on #258
@rultor deploy

[2018-04-23 09:15] rultor commented on #258
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14351-383508221)

[2018-04-23 09:51] rultor commented on #258
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14351-383508221) (took me 36min)

[2018-04-23 10:43] #258 closed

[2018-04-23 10:59] 0crat commented on #258
The job is not in WBS, won't close the order

[2018-04-24 18:05] nqafield opened #262 "Bold text doesn't seem to be rendering right on the blog."
See this post:
http://www.yegor256.com/2018/04/24/right-way-to-report-bugs.html

The words "Victimize yourself" and "Push them" should be bold.

![image](https://user-images.githubusercontent.com/18754996/39205260-11de226a-47f2-11e8-930c-4031421f67de.png)

The raw md looks like this: `**Victimize yourself**` (**Victimize yourself**).

This bug appears on Windows 10 (Chrome, Brave) and Windows 7 (C

[2018-04-24 18:05] 0crat commented on #262
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-24 18:05] 0crat commented on #262
@nqafield[/z](https://www.0crat.com/u/nqafield) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-25 09:59] ashtonhogan opened #263 "editorial error"
In [this](http://www.yegor256.com/2014/09/16/getters-and-setters-are-evil.html) article it says "There are a few arguments against "accessors" (another name for getters and setters)" but it should say "There are a few arguments against "accessors" (another name for getters ~~and setters~~)" because setters are called "mutators".

[2018-04-25 09:59] 0crat commented on #263
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-25 09:59] 0crat commented on #263
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-27 14:14] yegor256 opened #264 "shift-m 27"

[2018-04-30 05:09] yegor256 commented on #264
@rultor deploy

[2018-04-30 05:11] rultor commented on #264
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14404-385314373)

[2018-04-30 05:31] rultor commented on #264
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14404-385314373) (spent 20min)

[code]

[2018-04-30 06:05] yegor256 commented on #264
@rultor deploy

[2018-04-30 06:08] rultor commented on #264
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14404-385319085)

[2018-04-30 06:42] rultor commented on #264
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14404-385319085) (took me 34min)

[2018-04-30 06:43] #264 closed

[2018-04-30 06:58] 0crat commented on #264
The job is not in WBS, won't close the order

[2018-05-01 15:56] yegor256 opened #265 "russian boilerplate"

[2018-05-01 16:03] yegor256 commented on #263
@ashtonhogan fixed in c463bcd6f1c thanks

[2018-05-01 16:03] #263 closed

[2018-05-01 16:03] yegor256 commented on #265
@rultor deploy

[2018-05-01 16:03] #265 closed

[2018-05-01 16:06] rultor commented on #265
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14421-385709328)

[2018-05-01 16:18] 0crat commented on #263
The job is not in WBS, won't close the order

[2018-05-01 16:18] 0crat commented on #265
The job is not in WBS, won't close the order

[2018-05-01 16:37] rultor commented on #265
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14421-385709328) (took me 31min)

[2018-05-01 19:08] yegor256 opened #266 "https"
https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-01 19:14] yegor256 commented on #266
@rultor deploy

[2018-05-01 19:15] rultor commented on #266
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14423-385761545)

[2018-05-01 19:49] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14423-385761545) (took me 33min)

[2018-05-01 19:59] #266 closed

[2018-05-01 20:04] yegor256 commented on #266
@rultor deploy

[2018-05-01 20:05] rultor commented on #266
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14423-385774033)

[2018-05-01 20:15] 0crat commented on #266
The job is not in WBS, won't close the order

[2018-05-01 20:41] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14423-385774033) (took me 36min)

[2018-05-02 19:35] yegor256 opened #267 "disqus some posts lost"

[2018-05-02 19:35] yegor256 commented on #267
@rultor deploy

[2018-05-02 19:36] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386094935)

[2018-05-02 20:14] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386094935) (took me 38min)

[2018-05-02 21:16] #267 closed

[2018-05-02 21:17] yegor256 commented on #267
@rultor deploy

[2018-05-02 21:18] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386124222)

[2018-05-02 21:32] 0crat commented on #267
The job is not in WBS, won't close the order

[2018-05-02 21:51] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386124222) (took me 33min)

[2018-05-03 13:53] yegor256 commented on #267
@rultor deploy

[2018-05-03 13:54] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386303177)

[2018-05-03 14:28] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386303177) (took me 34min)

[2018-05-03 17:43] yegor256 commented on #267
@rultor deploy

[2018-05-03 17:53] rultor commented on #267
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14426-386378076) (spent 8min)

[code]

[2018-05-04 05:42] yegor256 commented on #267
@rultor deploy

[2018-05-04 05:43] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386510087)

[2018-05-04 06:17] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386510087) (took me 33min)

[2018-05-04 07:37] yegor256 commented on #267
@rultor deploy

[2018-05-04 07:40] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386526491)

[2018-05-04 08:14] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386526491) (took me 34min)

[2018-05-06 18:26] yegor256 commented on #267
@rultor deploy

[2018-05-06 18:26] rultor commented on #267
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14426-386901304)

[2018-05-06 18:59] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14426-386901304) (took me 32min)

[2018-05-11 04:51] yegor256 opened #269 "minor changes"

[2018-05-11 05:02] yegor256 commented on #269
@rultor deploy

[2018-05-11 05:04] rultor commented on #269
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14502-388260451)

[2018-05-11 05:39] rultor commented on #269
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14502-388260451) (took me 35min)

[2018-05-11 10:10] #269 closed

[2018-05-11 10:26] 0crat commented on #269
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1311021668, Type: 'Close job', Author: yegor256

[2018-05-18 09:48] yegor256 opened #270 "article about NULL"

[2018-05-18 09:49] yegor256 commented on #270
@rultor deploy

[2018-05-18 09:49] rultor commented on #270
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14570-390156124)

[2018-05-20 08:10] yegor256 opened #271 "shift-m 28"

[2018-05-21 05:29] yegor256 commented on #271
@rultor deploy

[2018-05-21 05:29] #271 closed

[2018-05-21 05:31] rultor commented on #271
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14600-390556876)

[2018-05-21 05:44] 0crat commented on #271
The job is not in WBS, won't close the order

[2018-05-21 05:49] rultor commented on #271
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14600-390556876) (spent 18min)

[code]

[2018-05-21 06:26] rultor commented on #271
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14600-390564518)

[2018-06-07 19:23] LenarBad opened #277 "Broken badge images"
https://www.yegor256.com/pets.html

Images for Jare.io, S3Auth.com, Stateful.co, JCabi are not displayed

[2018-06-07 19:23] 0crat commented on #277
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-07 19:23] 0crat commented on #277
@lenarbad[/z](https://www.0crat.com/u/lenarbad) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 05:34] #270 closed

[2018-06-15 05:34] yegor256 opened #278 "webinar 35"

[2018-06-15 05:50] 0crat commented on #270
Job `gh:yegor256/blog#270` is not assigned, can't get performer

[2018-06-15 05:50] 0crat commented on #270
The job is not in WBS, won't close the order

[2018-06-15 06:10] yegor256 commented on #278
@rultor deploy

[2018-06-15 06:11] rultor commented on #278
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14932-397523404)

[2018-06-15 06:46] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14932-397523404) (took me 35min)

[2018-06-29 07:54] yegor256 opened #281 "shift-m 28 script"

[2018-06-29 07:56] yegor256 commented on #281
@rultor deploy

[2018-06-29 07:59] rultor commented on #281
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15143-401278827)

[2018-06-29 08:35] rultor commented on #281
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15143-401278827) (took me 36min)

[2018-06-29 11:58] #281 closed

[2018-06-29 12:13] 0crat commented on #281
Job `gh:yegor256/blog#281` is not assigned, can't get performer

[2018-06-29 12:13] 0crat commented on #281
The job is not in WBS, won't close the order

[2018-07-06 11:18] yegor256 opened #283 "code ahead published"

[2018-07-06 11:32] yegor256 commented on #283
@rultor deploy

[2018-07-06 11:32] #278 closed

[2018-07-06 11:34] rultor commented on #283
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15241-403008130)

[2018-07-06 11:48] 0crat commented on #278
The job is not in WBS, won't close the order

[2018-07-06 11:48] 0crat commented on #278
Job `gh:yegor256/blog#278` is not assigned, can't get performer

[2018-07-06 12:10] rultor commented on #283
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15241-403008130) (took me 36min)

[2018-07-06 13:16] #283 closed

[2018-07-06 13:31] 0crat commented on #283
The job is not in WBS, won't close the order

[2018-07-06 13:31] 0crat commented on #283
Job `gh:yegor256/blog#283` is not assigned, can't get performer

[2018-07-17 08:29] yegor256 opened #284 "podcast 29"

[2018-07-17 09:03] yegor256 commented on #284
@rultor deploy

[2018-07-17 09:05] rultor commented on #284
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15391-405512457)

[2018-07-17 09:41] rultor commented on #284
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15391-405512457) (took me 36min)

[2018-07-17 10:13] #284 closed

[2018-07-17 10:30] 0crat commented on #284
The job is not in WBS, won't close the order

[2018-07-17 10:30] 0crat commented on #284
Job `gh:yegor256/blog#284` is not assigned, can't get performer

[2018-07-17 19:03] yegor256 commented on #284
@rultor deploy

[2018-07-17 19:05] rultor commented on #284
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15391-405692780)

[2018-07-17 19:40] rultor commented on #284
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15391-405692780) (took me 34min)

[2018-07-18 09:19] yegor256 opened #285 "update about-me"

[2018-07-18 09:21] yegor256 commented on #285
@rultor deploy

[2018-07-18 09:22] rultor commented on #285
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15404-405867899)

[2018-07-18 09:59] rultor commented on #285
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15404-405867899) (took me 37min)

[2018-07-18 11:05] #285 closed

[2018-07-23 11:32] yegor256 opened #286 "shift-m 30"

[2018-07-23 11:41] yegor256 commented on #286
@rultor deploy

[2018-07-23 11:42] rultor commented on #286
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15455-407028831)

[2018-07-23 12:18] rultor commented on #286
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15455-407028831) (took me 36min)

[2018-07-23 20:17] #286 closed

[2018-07-23 20:47] 0crat commented on #286
Job `gh:yegor256/blog#286` is not assigned, can't get performer

[2018-07-23 20:47] 0crat commented on #286
The job is not in WBS, won't close the order

[2018-07-30 17:06] yegor256 opened #288 "shift-m 31"

[2018-07-30 17:15] yegor256 commented on #288
@rultor deploy

[2018-07-30 17:25] yegor256 commented on #288
@rultor deploy

[2018-07-30 17:50] rultor commented on #288
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15530-408940642) (spent 23min)

[code]

[2018-07-30 17:55] rultor commented on #288
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15530-408943859)

[2018-07-30 17:56] yegor256 commented on #288
@rultor deploy

[2018-07-30 18:18] rultor commented on #288
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15530-408943859) (spent 23min)

[code]

[2018-07-30 19:05] rultor commented on #288
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15530-408953854) (took me 43min)

[2018-07-30 19:40] #288 closed

[2018-07-30 19:55] 0crat commented on #288
The job is not in WBS, won't close the order

[2018-07-30 19:55] 0crat commented on #288
Job `gh:yegor256/blog#288` is not assigned, can't get performer

[2018-08-02 12:44] yegor256 commented on #278
@rultor deploy

[2018-08-02 12:46] rultor commented on #278
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14932-409913124)

[2018-08-02 13:33] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14932-409913124) (took me 47min)

[2018-08-05 06:12] yegor256 opened #289 "shift-m 32"

[2018-08-06 09:28] yegor256 commented on #289
@rultor deploy

[2018-08-06 09:29] rultor commented on #289
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15600-410646605)

[2018-08-06 10:12] rultor commented on #289
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15600-410646605) (took me 42min)

[2018-08-07 06:02] #289 closed

[2018-08-07 06:18] 0crat commented on #289
The job is not in WBS, won't close the order

[2018-08-07 06:18] 0crat commented on #289
Job `gh:yegor256/blog#289` is not assigned, can't get performer

[2018-08-12 16:44] yegor256 opened #290 "shift-m 33"

[2018-08-13 04:50] yegor256 commented on #290
@rultor deploy

[2018-08-13 04:51] rultor commented on #290
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15669-412407716)

[2018-08-13 04:59] rultor commented on #290
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15669-412407716) (spent 8min)

[code]

[2018-08-13 05:15] yegor256 commented on #290
@rultor deploy

[2018-08-13 05:15] rultor commented on #290
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15669-412410419)

[2018-08-13 05:59] rultor commented on #290
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15669-412410419) (took me 44min)

[2018-08-13 11:11] #290 closed

[2018-08-13 12:11] 0crat commented on #290
Job `gh:yegor256/blog#290` is not assigned, can't get performer

[2018-08-13 12:11] 0crat commented on #290
The job is not in WBS, won't close the order

[2018-08-15 07:13] yegor256 commented on #290
@rultor deploy

[2018-08-15 07:14] rultor commented on #290
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15669-413114197)

[2018-08-15 07:54] rultor commented on #290
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15669-413114197) (took me 40min)

[2018-08-19 05:20] yegor256 opened #292 "webinar 37"

[2018-08-19 06:03] rultor commented on #292
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15722-414104392) (took me 41min)

[2018-08-26 06:32] yegor256 commented on #292
@rultor deploy

[2018-08-26 06:32] rultor commented on #292
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15722-416017354)

[2018-08-26 07:11] rultor commented on #292
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15722-416017354) (took me 39min)

[2018-08-27 20:04] yegor256 opened #294 "shift m 34"

[2018-08-27 20:18] yegor256 commented on #294
@rultor deploy

[2018-08-27 20:20] rultor commented on #294
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15788-416354536)

[2018-08-27 20:59] rultor commented on #294
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15788-416354536) (took me 39min)

[2018-08-28 05:50] #294 closed

[2018-08-28 06:29] 0crat commented on #294
Job `gh:yegor256/blog#294` is not assigned, can't get performer

[2018-08-28 06:29] 0crat commented on #294
The job is not in WBS, won't close the order

[2018-08-30 14:22] yegor256 opened #296 "subscribe via mailanes"

[2018-08-30 14:46] rultor commented on #296
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15822-417338146) (spent 21min)

[code]

[2018-08-30 15:02] yegor256 commented on #296
@rultor deploy

[2018-08-30 15:03] rultor commented on #296
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15822-417352076)

[2018-08-30 15:42] rultor commented on #296
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15822-417352076) (took me 39min)

[2018-08-30 15:45] #296 closed

[2018-08-30 16:34] 0crat commented on #296
Job `gh:yegor256/blog#296` is not assigned, can't get performer

[2018-08-30 16:34] 0crat commented on #296
The job is not in WBS, won't close the order

[2018-09-03 07:29] yegor256 opened #298 "shift-m 35"

[2018-09-03 08:01] yegor256 commented on #298
@rultor deploy

[2018-09-03 08:03] rultor commented on #298
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15849-418033652)

[2018-09-03 08:44] rultor commented on #298
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15849-418033652) (took me 41min)

[2018-09-10 12:34] amihaiemil opened #299 ""12 Best" page is broken"
Aparently the [12 Best](https://www.yegor256.com/best.html) page is broken, it displays all articles one under the other, as if they were loaded in iframes.

[2018-09-10 12:34] 0crat commented on #299
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-10 12:34] 0crat commented on #299
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-11 08:52] filfreire opened #302 "Broken Google Maps on "Saturday" page"
@yegor256  on http://yegor256.com/saturday page I'm getting this error in the google maps part:
```Google Maps Platform rejected your request. Invalid request. Invalid 'pb' parameter.```

Screenshot:
![gmaps_error](https://user-images.githubusercontent.com/11976836/45349136-c6dc5480-b5b0-11e8-8c7b-08b68d86451c.png)

[2018-09-11 08:52] 0crat commented on #302
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-11 08:52] 0crat commented on #302
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-11 08:53] filfreire commented on #213
@yegor256 I believe this issue is now possible to solve, see

https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-09-14 12:04] yegor256 commented on #302
@rultor deploy

[2018-09-14 12:05] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-421337885)

[2018-09-14 12:20] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-421337885) (took me 15min)

[2018-09-16 16:52] yegor256 commented on #299
@rultor deploy

[2018-09-16 16:54] rultor commented on #299
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15928-421795112)

[2018-09-16 17:08] rultor commented on #299
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15928-421795112) (took me 14min)

[2018-09-16 17:12] yegor256 commented on #299
@amihaiemil fixed, thanks!

[2018-09-16 17:12] #299 closed

[2018-09-16 17:12] #298 closed

[2018-09-16 17:17] yegor256 commented on #277
@rultor deploy

[2018-09-16 17:30] rultor commented on #277
@lenarbad @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15930-421798679) (spent 10min)

[code]

[2018-09-16 17:30] yegor256 commented on #277
@rultor deploy

[2018-09-16 17:32] 0crat commented on #299
Job `gh:yegor256/blog#299` is not assigned, can't get performer

[2018-09-16 17:32] 0crat commented on #298
Job `gh:yegor256/blog#298` is not assigned, can't get performer

[2018-09-16 17:34] rultor commented on #277
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15930-421800502)

[2018-09-16 17:39] 0crat commented on #213
Job `gh:yegor256/blog#213` is not assigned, can't get performer

[2018-09-16 17:45] rultor commented on #277
@lenarbad @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15930-421800502) (spent 10min)

[code]

[2018-09-16 17:56] yegor256 commented on #277
@rultor deploy

[2018-09-16 17:58] rultor commented on #277
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15930-421804333)

[2018-09-16 18:11] rultor commented on #277
@lenarbad @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15930-421804333) (spent 13min)

[code]

[2018-09-16 18:34] yegor256 commented on #277
@rultor deploy

[2018-09-16 18:36] rultor commented on #277
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15930-421809845)

[2018-09-16 18:51] rultor commented on #277
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15930-421809845) (took me 15min)

[2018-09-16 18:58] yegor256 commented on #277
@LenarBad fixed, thanks!

[2018-09-16 18:58] #277 closed

[2018-09-16 19:15] 0crat commented on #277
Job `gh:yegor256/blog#277` is not assigned, can't get performer

[2018-09-17 11:17] yegor256 opened #303 "shift-m 36"

[2018-09-17 14:36] yegor256 commented on #303
@rultor deploy

[2018-09-17 14:38] rultor commented on #303
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15940-422042507)

[2018-09-17 14:53] rultor commented on #303
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15940-422042507) (took me 14min)

[2018-09-17 15:03] #303 closed

[2018-09-17 15:20] 0crat commented on #303
Job `gh:yegor256/blog#303` is not assigned, can't get performer

[2018-09-29 16:32] #292 closed

[2018-09-29 16:32] yegor256 opened #304 "webinar 38"

[2018-09-29 16:32] yegor256 commented on #304
@rultor deploy

[2018-09-29 16:35] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425657876)

[2018-09-29 16:50] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425657876) (took me 15min)

[2018-09-29 16:52] yegor256 commented on #304
@rultor deploy

[2018-09-29 16:55] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425659304)

[2018-09-29 17:05] 0crat commented on #292
Job `gh:yegor256/blog#292` is not assigned, can't get performer

[2018-09-29 17:10] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425659304) (took me 15min)

[2018-09-29 17:37] yegor256 commented on #304
@rultor deploy

[2018-09-29 17:39] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425662550)

[2018-09-29 17:54] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425662550) (took me 15min)

[2018-09-30 08:55] yegor256 commented on #304
@rultor deploy

[2018-09-30 08:57] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425705690)

[2018-09-30 09:07] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-425705690) (spent 10min)

[code]

[2018-09-30 09:17] yegor256 commented on #304
@rultor deploy

[2018-09-30 09:18] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425706803)

[2018-09-30 09:33] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425706803) (took me 15min)

[2018-09-30 14:48] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425725921)

[2018-09-30 15:03] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425725921) (took me 14min)

[2018-09-30 17:37] yegor256 commented on #304
@rultor deploy

[2018-09-30 17:39] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425737546)

[2018-09-30 17:51] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-425737546) (spent 12min)

[code]

[2018-09-30 18:27] yegor256 commented on #304
@rultor deploy

[2018-09-30 18:29] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425740908)

[2018-09-30 18:39] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-425740908) (spent 10min)

[code]

[2018-09-30 19:37] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-425744675) (took me 15min)

[2018-10-01 06:14] yegor256 commented on #304
@rultor deploy

[2018-10-01 06:14] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425799771)

[2018-10-01 07:37] yegor256 commented on #304
@rultor stop

[2018-10-01 07:38] rultor commented on #304
@yegor256 OK, I'll try to stop current task.

[2018-10-01 07:43] yegor256 commented on #304
@rultor deploy

[2018-10-01 07:43] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-425816789)

[2018-10-01 07:46] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-425816789) (spent 3min)

[code]

[2018-10-01 14:35] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-425926510) (spent 11min)

[code]

[2018-10-01 18:20] yegor256 commented on #304
@rultor deploy

[2018-10-01 18:27] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426010499) (spent 5min)

[code]

[2018-10-01 18:57] yegor256 commented on #304
@rultor deploy

[2018-10-01 18:59] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426022795)

[2018-10-01 19:05] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426022795) (spent 6min)

[code]

[2018-10-01 19:31] yegor256 commented on #304
@rultor deploy

[2018-10-01 19:32] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426033658)

[2018-10-01 19:37] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426033658) (spent 5min)

[code]

[2018-10-01 19:38] yegor256 commented on #304
@rultor deploy

[2018-10-01 19:42] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426035970)

[2018-10-01 19:47] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426035970) (spent 5min)

[code]

[2018-10-02 04:48] yegor256 commented on #304
@rultor deploy

[2018-10-02 04:50] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426147977)

[2018-10-02 04:57] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426147977) (spent 7min)

[code]

[2018-10-02 05:15] yegor256 commented on #304
@rultor deploy

[2018-10-02 05:16] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426151496)

[2018-10-02 08:33] yegor256 commented on #304
@rultor deploy

[2018-10-02 08:35] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426193104)

[2018-10-02 08:40] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426193104) (spent 5min)

[code]

[2018-10-02 11:30] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16028-426237874) (spent 6min)

[code]

[2018-10-02 11:45] yegor256 commented on #304
@rultor deploy

[2018-10-02 11:48] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426243400)

[2018-10-02 11:59] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-426243400) (took me 11min)

[2018-10-02 12:03] #304 closed

[2018-10-02 13:32] 0crat commented on #304
Job `gh:yegor256/blog#304` is not assigned, can't get performer

[2018-10-02 14:01] 0crat commented on #304
This job is not in scope

[2018-10-02 18:15] yegor256 commented on #304
@rultor deploy

[2018-10-02 18:16] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426377103)

[2018-10-02 18:36] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-426380641) (took me 10min)

[2018-10-03 07:15] yegor256 commented on #304
@rultor deploy

[2018-10-03 07:16] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426535288)

[2018-10-03 11:56] yegor256 commented on #304
@rultor deploy

[2018-10-03 11:59] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426609492)

[2018-10-03 12:12] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-426609492) (took me 13min)

[2018-10-03 12:45] yegor256 commented on #304
@rultor deploy

[2018-10-03 12:45] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426624016)

[2018-10-03 12:56] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-426624016) (took me 11min)

[2018-10-04 05:39] yegor256 commented on #304
@rultor deploy

[2018-10-04 05:40] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-426891486)

[2018-10-04 05:51] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-426891486) (took me 11min)

[2018-10-04 15:43] yegor256 opened #305 "consulting offers"

[2018-10-04 15:58] yegor256 commented on #305
@rultor deploy

[2018-10-04 16:00] rultor commented on #305
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16087-427073735)

[2018-10-04 16:11] rultor commented on #305
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16087-427073735) (took me 10min)

[2018-10-04 16:34] yegor256 commented on #305
@rultor deploy

[2018-10-04 16:37] rultor commented on #305
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16087-427085914)

[2018-10-04 16:47] rultor commented on #305
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16087-427085914) (took me 10min)

[2018-10-04 16:47] #305 closed

[2018-10-04 17:33] 0crat commented on #305
Job `gh:yegor256/blog#305` is not assigned, can't get performer

[2018-10-04 17:46] 0crat commented on #305
This job is not in scope

[2018-10-05 07:00] yegor256 commented on #262
@rultor deploy

[2018-10-05 07:03] rultor commented on #262
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16098-427265875)

[2018-10-05 07:09] rultor commented on #262
@nqafield @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16098-427265875) (spent 6min)

[code]

[2018-10-05 07:13] yegor256 commented on #262
@rultor deploy

[2018-10-05 07:15] rultor commented on #262
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16098-427268559)

[2018-10-05 08:03] yegor256 commented on #262
@rultor deploy

[2018-10-05 08:05] rultor commented on #262
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16098-427280387)

[2018-10-05 08:16] rultor commented on #262
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16098-427280387) (took me 11min)

[2018-10-05 08:35] yegor256 commented on #262
@nqafield fixed?

[2018-10-05 12:36] yegor256 commented on #262
@rultor deploy

[2018-10-05 12:38] rultor commented on #262
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16098-427351056)

[2018-10-05 12:48] rultor commented on #262
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16098-427351056) (took me 10min)

[2018-10-06 04:48] yegor256 commented on #304
@rultor deploy

[2018-10-06 04:51] rultor commented on #304
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16028-427545992)

[2018-10-06 05:03] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16028-427545992) (took me 12min)

[2018-10-06 20:12] nqafield commented on #262
@yegor256 No, not fixed. Maybe not a big deal, but not fixed.
![image](https://user-images.githubusercontent.com/18754996/46575406-73d99f80-c9ac-11e8-8d90-63b73468827b.png)

[2018-10-07 06:12] yegor256 commented on #262
@rultor deploy

[2018-10-07 06:13] rultor commented on #262
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16098-427628852)

[2018-10-07 06:27] yegor256 commented on #262
@nqafield how about now?

[2018-10-07 10:06] nqafield commented on #262
@yegor256 Yep, working now.

[2018-10-07 10:07] #262 closed

[2018-10-10 05:38] yegor256 commented on #302
@rultor deploy

[2018-10-10 05:39] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428444289)

[2018-10-10 06:10] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428444289) (took me 31min)

[2018-10-10 06:31] yegor256 commented on #302
@rultor deploy

[2018-10-10 06:33] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428453961)

[2018-10-10 06:40] yegor256 commented on #302
@rultor deploy

[2018-10-10 07:03] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428453961) (took me 29min)

[2018-10-10 07:07] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428455921)

[2018-10-10 07:35] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428455921) (took me 27min)

[2018-10-10 10:29] NicharNET opened #307 "The Contents page displays the content of the entire blog"
The [Contents](https://www.yegor256.com/contents.html) webpage displays the content of the entire blog exposing Jekyll scripts, links, and all the images. The page takes too long to load because of its size. I guess there is some typo.

[2018-10-10 10:29] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-10 10:29] 0crat commented on #307
@nicharnet[/z](https://www.0crat.com/u/nicharnet) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 10:45] driver733 opened #308 "Post pages displays the page content twice"
https://www.yegor256.com/2017/10/24/award-2018.html
https://www.yegor256.com/2018/09/18/fear-of-coupling.html
https://www.yegor256.com/2018/10/09/can-you-control-us.html
![screenshot 2018-10-10 at 13 42 33](https://user-images.githubusercontent.com/10466206/46731176-b3e1a080-cc92-11e8-818f-b7200a87a44b.png)

[2018-10-10 10:45] 0crat commented on #308
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-10 10:45] 0crat commented on #308
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 13:07] yegor256 commented on #302
@rultor deploy

[2018-10-10 13:08] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428564114)

[2018-10-10 13:32] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428564114) (took me 24min)

[2018-10-10 13:36] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428570271)

[2018-10-10 14:05] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428570271) (took me 28min)

[2018-10-10 14:34] yegor256 commented on #302
@rultor deploy

[2018-10-10 14:35] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428596557)

[2018-10-10 15:01] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428596557) (took me 26min)

[2018-10-10 15:31] yegor256 commented on #302
@rultor deploy

[2018-10-10 15:32] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428619294)

[2018-10-10 16:04] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428619294) (took me 32min)

[2018-10-10 16:51] yegor256 commented on #302
@rultor deploy

[2018-10-10 16:52] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428647483)

[2018-10-10 16:54] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428647483) (spent 3min)

[code]

[2018-10-10 16:55] yegor256 commented on #302
@rultor deploy

[2018-10-10 16:59] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428649263)

[2018-10-10 17:04] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428649263) (spent 5min)

[code]

[2018-10-10 17:49] yegor256 commented on #302
@rultor deploy

[2018-10-10 17:50] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428667264)

[2018-10-10 17:56] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428667264) (spent 6min)

[code]

[2018-10-10 18:05] yegor256 commented on #302
@rultor deploy

[2018-10-10 18:06] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428672676)

[2018-10-10 20:04] yegor256 commented on #302
@rultor stop

[2018-10-10 20:07] rultor commented on #302
@yegor256 OK, I'll try to stop current task.

[2018-10-10 20:08] yegor256 commented on #302
@rultor deploy

[2018-10-10 20:08] rultor commented on #302
@filfreire @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428711323) (spent 2hr)

[code]

[2018-10-10 20:13] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428712474)

[2018-10-10 20:19] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428712474) (spent 6min)

[code]

[2018-10-10 20:42] yegor256 commented on #302
@rultor deploy

[2018-10-10 20:43] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428724316)

[2018-10-10 20:49] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428724316) (spent 6min)

[code]

[2018-10-10 20:52] yegor256 commented on #302
@rultor deploy

[2018-10-10 20:54] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428727564)

[2018-10-10 20:58] yegor256 commented on #302
@rultor deploy

[2018-10-10 21:01] rultor commented on #302
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15923-428727564) (spent 6min)

[code]

[2018-10-10 21:06] rultor commented on #302
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/15923-428729299)

[2018-10-10 21:31] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428729299) (took me 26min)

[2018-10-11 06:38] rultor commented on #302
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15923-428834980) (took me 15min)

[2018-10-11 07:47] 0crat commented on #302
Job `gh:yegor256/blog#302` is not assigned, can't get performer

[2018-10-11 07:48] 0crat commented on #302
This job is not in scope

[2018-10-11 08:14] yegor256 commented on #308
@driver733 fixed, thanks!

[2018-10-11 08:14] #308 closed

[2018-10-11 08:31] 0crat commented on #308
Job `gh:yegor256/blog#308` is not assigned, can't get performer

[2018-10-11 08:31] 0crat commented on #308
This job is not in scope

[2018-10-17 05:55] yegor256 commented on #307
@rultor deploy

[2018-10-17 05:56] yegor256 commented on #307
@NicharNET fixed already, thanks!

[2018-10-17 05:56] #307 closed

[2018-10-17 05:57] rultor commented on #307
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16242-430499198)

[2018-10-17 06:13] rultor commented on #307
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16242-430499198) (took me 16min)

[2018-10-17 06:14] yegor256 commented on #307
@rultor deploy

[2018-10-17 06:15] rultor commented on #307
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16242-430502522)

[2018-10-17 06:31] rultor commented on #307
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16242-430502522) (took me 16min)

[2018-10-17 06:33] 0crat commented on #307
Job `gh:yegor256/blog#307` is not assigned, can't get performer

[2018-10-17 06:56] 0crat commented on #307
This job is not in scope

[2018-10-21 08:41] rultor commented on #223
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16282-431649096) (took me 15min)

[2018-10-21 08:56] 0crat commented on #223
Job `gh:yegor256/blog#223` is not assigned, can't get performer

[2018-10-25 17:38] yegor256 commented on #252
@rultor deploy

[2018-10-25 17:39] rultor commented on #252
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16333-433141062)

[2018-10-25 17:49] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16333-433141062) (took me 10min)

[2018-10-29 07:08] yegor256 commented on #252
@rultor deploy

[2018-10-29 07:10] rultor commented on #252
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16333-433808232)

[2018-10-29 07:21] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16333-433808232) (took me 10min)

[2018-11-01 06:45] yegor256 commented on #249
@rultor deploy

[2018-11-01 06:46] rultor commented on #249
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16418-434947979)

[2018-11-01 06:58] rultor commented on #249
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16418-434947979) (took me 11min)

[2018-11-01 07:16] 0crat commented on #249
Job `gh:yegor256/blog#249` is not assigned, can't get performer

[2018-11-01 07:17] 0crat commented on #249
This job is not in scope

[2018-11-16 12:32] yegor256 opened #315 "unit testing anti-patterns"
Let's create a list of them

[2018-11-20 06:17] yegor256 opened #317 "shift-m 39"

[2018-11-20 06:30] yegor256 commented on #317
@rultor deploy

[2018-11-20 06:32] rultor commented on #317
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16592-440159756)

[2018-11-20 07:07] #317 closed

[2018-11-20 11:52] 0crat commented on #317
Job `gh:yegor256/blog#317` is not assigned, can't get performer

[2018-11-20 12:10] 0crat commented on #317
This job is not in scope

[2018-12-09 15:18] yegor256 commented on #315
@rultor deploy

[2018-12-09 15:19] rultor commented on #315
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16814-445546000)

[2018-12-09 15:32] rultor commented on #315
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16814-445546000) (took me 13min)

[2018-12-16 09:04] yegor256 commented on #315
@rultor deploy

[2018-12-16 09:05] rultor commented on #315
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16814-447627511)

[2018-12-16 09:17] rultor commented on #315
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16814-447627511) (took me 11min)

[2018-12-18 04:52] #315 closed

[2018-12-18 05:09] 0crat commented on #315
Job `gh:yegor256/blog#315` is not assigned, can't get performer

[2018-12-18 05:10] 0crat commented on #315
This job is not in scope

[2018-12-19 14:34] yegor256 opened #324 "shift-m 40"

[2018-12-19 14:47] yegor256 commented on #324
@rultor deploy

[2018-12-19 14:48] rultor commented on #324
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16963-448620779)

[2018-12-19 15:00] rultor commented on #324
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16963-448620779) (took me 12min)

[2018-12-19 15:06] #324 closed

[2018-12-21 16:42] yegor256 commented on #324
@rultor deploy

[2018-12-21 16:43] rultor commented on #324
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16963-449437423)

[2018-12-21 16:52] rultor commented on #324
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16963-449437423) (took me 10min)

[2018-12-21 21:39] yegor256 commented on #324
@rultor deploy

[2018-12-21 21:40] rultor commented on #324
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16963-449504856)

[2018-12-21 21:50] rultor commented on #324
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16963-449504856) (took me 10min)

[2018-12-25 12:18] nick318 opened #380 "There are no numbers of visited cities and countries"
There are no numbers of visited cities and countries on page - https://www.yegor256.com/talks.html
![image](https://user-images.githubusercontent.com/6926262/50422128-c1a1cd80-0860-11e9-8c29-851be51f7d31.png)

[2018-12-26 07:36] rultor commented on #324
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16963-449920018) (took me 10min)

[2019-01-04 09:02] yegor256 opened #328 "shift-m 41"

[2019-01-07 08:55] yegor256 commented on #328
@rultor deploy

[2019-01-07 08:57] rultor commented on #328
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17183-451864281)

[2019-01-07 09:09] rultor commented on #328
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17183-451864281) (took me 12min)

[2019-01-08 05:30] #328 closed

[2019-01-08 05:47] 0crat commented on #328
Job `gh:yegor256/blog#328` is not assigned, can't get performer

[2019-01-08 05:47] 0crat commented on #328
This job is not in scope

[2019-02-10 09:44] yegor256 opened #338 "webinar 42"

[2019-02-10 09:45] yegor256 commented on #338
@rultor deploy

[2019-02-10 09:46] rultor commented on #338
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17787-462118053)

[2019-02-10 09:56] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17787-462118053) (took me 10min)

[2019-02-13 17:10] yegor256 commented on #338
@rultor deploy

[2019-02-13 17:11] rultor commented on #338
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17787-463283921)

[2019-02-13 17:37] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17787-463283921) (took me 26min)

[2019-02-15 14:29] yegor256 commented on #338
@rultor deploy

[2019-02-15 14:30] rultor commented on #338
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17787-464069266)

[2019-02-15 14:41] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17787-464069266) (took me 11min)

[2019-03-03 12:53] yegor256 opened #341 "webinar 43"

[2019-03-03 13:17] yegor256 commented on #341
@rultor deploy

[2019-03-03 13:18] rultor commented on #341
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18112-469022024)

[2019-03-03 13:30] rultor commented on #341
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18112-469022024) (took me 12min)

[2019-03-03 13:37] #341 closed

[2019-03-03 13:57] 0crat commented on #341
Job `gh:yegor256/blog#341` is not assigned, can't get performer

[2019-03-03 13:57] 0crat commented on #341
This job is not in scope

[2019-03-05 10:35] yegor256 opened #342 "/get-a-training.html"
Let's create a landing page

[2019-03-05 11:40] yegor256 commented on #342
@rultor deploy

[2019-03-05 11:41] rultor commented on #342
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18136-469649045)

[2019-03-05 11:52] rultor commented on #342
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18136-469649045) (took me 11min)

[2019-03-05 12:13] #342 closed

[2019-03-05 15:25] 0crat commented on #342
Job `gh:yegor256/blog#342` is not assigned, can't get performer

[2019-03-05 15:30] 0crat commented on #342
This job is not in scope

[2019-03-05 15:35] rultor commented on #342
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18136-469726083)

[2019-03-05 15:46] rultor commented on #342
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18136-469726083) (took me 11min)

[2019-03-06 06:44] yegor256 commented on #342
@rultor deploy

[2019-03-06 06:45] rultor commented on #342
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18136-469989084)

[2019-03-06 06:56] rultor commented on #342
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18136-469989084) (took me 11min)

[2019-03-13 12:27] yegor256 commented on #338
@rultor deploy

[2019-03-13 12:28] rultor commented on #338
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17787-472401459)

[2019-03-13 12:51] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17787-472401459) (took me 22min)

[2019-03-15 06:51] yegor256 commented on #338
@rultor deploy

[2019-03-15 06:52] rultor commented on #338
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/17787-473178099)

[2019-03-15 07:14] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17787-473178099) (took me 22min)

[2019-03-19 05:37] #338 closed

[2019-03-19 05:54] 0crat commented on #338
Job `gh:yegor256/blog#338` is not assigned, can't get performer

[2019-03-19 05:55] 0crat commented on #338
This job is not in scope

[2019-04-21 14:19] yegor256 commented on #252
@rultor deploy

[2019-04-21 14:20] rultor commented on #252
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/16333-485255441)

[2019-04-21 14:30] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16333-485255441) (took me 10min)

[2019-05-26 14:28] yegor256 opened #359 "_agile.md"
Let's review and publish.

[2019-05-26 14:28] yegor256 commented on #359
@nqafield please, review it and let's publish

[2019-05-26 14:28] yegor256 commented on #359
@0crat assign @nqafield

[2019-05-26 14:29] 0crat commented on #359
@yegor256 The job [#359](https://github.com/yegor256/blog/issues/359) assigned to @nqafield[/z](https://www.0crat.com/u/nqafield), here is [why](https://www.0crat.com/footprint/C3RFVLU72/b6790759-513d-44bc-a5cf-6e5becf67b6c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-26 14:34] 0crat commented on #359
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-26 14:37] 0crat commented on #359
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-27 07:56] nqafield commented on #359
@yegor256 Could you assign it to @johndotpage please?

[2019-05-27 13:27] yegor256 commented on #359
@0crat assign @johndotpage

[2019-05-27 13:27] 0crat commented on #359
@yegor256 The job [#359](https://github.com/yegor256/blog/issues/359) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/821c1cfc-4cc5-428f-935b-e3243b603c70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-05-27 13:28] 0crat commented on #359
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-28 05:37] yegor256 commented on #359
@rultor deploy

[2019-05-28 05:38] rultor commented on #359
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19018-496371834)

[2019-05-28 05:43] rultor commented on #359
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19018-496371834) (spent 5min)

[code]

[2019-05-28 06:03] yegor256 commented on #359
@rultor deploy

[2019-05-28 06:04] rultor commented on #359
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19018-496376964)

[2019-05-28 06:17] rultor commented on #359
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19018-496376964) (took me 14min)

[2019-05-28 06:28] yegor256 commented on #359
@johndotpage done, thanks!

[2019-05-28 06:28] #359 closed

[2019-05-28 06:45] 0crat commented on #359
Job [#359](https://github.com/yegor256/blog/issues/359) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-05-28 06:46] 0crat commented on #359
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-28 06:50] 0crat commented on #359
The job [#359](https://github.com/yegor256/blog/issues/359) is now out of scope

[2019-05-28 06:52] 0crat commented on #359
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-06-10 09:58] yegor256 opened #361 "_help"
Let's review and publish `_drafts/_help.md`

[2019-06-10 09:59] yegor256 commented on #361
@0crat assign @johndotpage

[2019-06-10 10:00] 0crat commented on #361
@yegor256 The job [#361](https://github.com/yegor256/blog/issues/361) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/8d4586f6-ba36-44cf-a68a-07fa0a9f7257); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-06-10 10:04] 0crat commented on #361
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-10 10:07] 0crat commented on #361
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-11 03:29] yegor256 commented on #361
@johndotpage are you on it?

[2019-06-11 06:36] yegor256 commented on #361
@rultor deploy

[2019-06-11 06:37] rultor commented on #361
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19170-500707321)

[2019-06-11 06:47] rultor commented on #361
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19170-500707321) (took me 10min)

[2019-06-11 07:04] #361 closed

[2019-06-11 07:22] 0crat commented on #361
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-11 07:26] 0crat commented on #361
The job [#361](https://github.com/yegor256/blog/issues/361) is now out of scope

[2019-06-11 07:28] 0crat commented on #361
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-06-11 18:20] yegor256 opened #363 "publish certificates"
Let's publish them all

[2019-06-11 18:33] yegor256 commented on #363
@rultor deploy

[2019-06-11 18:33] rultor commented on #363
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19175-500968489)

[2019-06-11 18:49] rultor commented on #363
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19175-500968489) (took me 15min)

[2019-06-11 18:50] #363 closed

[2019-06-11 19:06] 0crat commented on #363
Job `gh:yegor256/blog#363` is not assigned, can't get performer

[2019-06-11 19:07] 0crat commented on #363
This job is not in scope

[2019-06-12 07:40] yegor256 opened #364 "webinar 44"

[2019-06-12 07:40] yegor256 commented on #364
@rultor deploy

[2019-06-12 07:42] rultor commented on #364
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19177-501157957)

[2019-06-12 07:57] rultor commented on #364
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19177-501157957) (took me 15min)

[2019-06-13 07:11] yegor256 commented on #364
@rultor deploy

[2019-06-13 07:12] rultor commented on #364
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19177-501579057)

[2019-06-13 07:24] rultor commented on #364
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19177-501579057) (took me 12min)

[2019-06-13 07:29] #364 closed

[2019-06-13 07:46] 0crat commented on #364
Job `gh:yegor256/blog#364` is not assigned, can't get performer

[2019-06-13 07:46] 0crat commented on #364
This job is not in scope

[2019-06-16 14:50] yegor256 opened #365 "_monkey"
Let's publish `_drafts/_monkey.md`

[2019-06-16 14:50] yegor256 commented on #365
@johndotpage can you please review it?

[2019-06-19 05:43] yegor256 commented on #365
@rultor deploy

[2019-06-19 05:43] rultor commented on #365
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19254-503415069)

[2019-06-19 05:55] rultor commented on #365
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19254-503415069) (took me 11min)

[2019-06-19 06:21] #365 closed

[2019-06-19 06:46] 0crat commented on #365
Job `gh:yegor256/blog#365` is not assigned, can't get performer

[2019-06-19 06:51] 0crat commented on #365
This job is not in scope

[2019-06-23 12:12] yegor256 opened #367 "new blog post about SyncEm ruby gem"
Let's write it

[2019-06-23 13:08] yegor256 commented on #367
@0crat assign @johndotpage

[2019-06-23 13:08] 0crat commented on #367
@yegor256 The job [#367](https://github.com/yegor256/blog/issues/367) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/12abe85c-5d04-443e-883b-311f3f83930c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-06-23 13:11] 0crat commented on #367
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-23 13:13] 0crat commented on #367
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-26 17:22] yegor256 commented on #367
@rultor deploy

[2019-06-26 17:23] rultor commented on #367
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19352-505968555)

[2019-06-26 17:35] rultor commented on #367
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19352-505968555) (took me 12min)

[2019-06-26 17:50] #367 closed

[2019-06-26 18:13] 0crat commented on #367
The job [#367](https://github.com/yegor256/blog/issues/367) is now out of scope

[2019-06-26 18:15] 0crat commented on #367
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-06-30 10:11] yegor256 opened #369 "tdd article"
Let's post it: `_drafts/_tdd.md`

[2019-06-30 10:13] yegor256 commented on #369
@0crat assign @johndotpage

[2019-06-30 10:13] 0crat commented on #369
@yegor256 The job [#369](https://github.com/yegor256/blog/issues/369) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/e52d7e08-43e4-4448-bb86-a8b31266829d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-06-30 10:16] 0crat commented on #369
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-30 10:18] 0crat commented on #369
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-02 08:26] yegor256 commented on #369
@rultor deploy

[2019-07-02 08:27] rultor commented on #369
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19404-507575374)

[2019-07-02 08:39] rultor commented on #369
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19404-507575374) (took me 12min)

[2019-07-02 08:39] #369 closed

[2019-07-02 08:56] 0crat commented on #369
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-02 09:01] 0crat commented on #369
The job [#369](https://github.com/yegor256/blog/issues/369) is now out of scope

[2019-07-02 09:04] 0crat commented on #369
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-07-04 09:18] yegor256 opened #371 "webinar 46"

[2019-07-04 09:18] yegor256 opened #372 "webinar 46"

[2019-07-04 09:49] yegor256 commented on #372
@rultor deploy

[2019-07-04 09:50] rultor commented on #372
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19435-508419609)

[2019-07-04 10:02] rultor commented on #372
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19435-508419609) (took me 12min)

[2019-07-04 10:06] #372 closed

[2019-07-04 15:17] 0crat commented on #372
Job `gh:yegor256/blog#372` is not assigned, can't get performer

[2019-07-04 15:40] 0crat commented on #372
This job is not in scope

[2019-07-08 16:22] yegor256 opened #373 "_rev"
Let's proof read and publish the article about inversive management: `_drafts/_rev.md`

[2019-07-08 16:22] yegor256 commented on #373
@0crat assign @johndotpage

[2019-07-09 07:57] yegor256 commented on #373
@0crat assign @johndotpage

[2019-07-09 08:00] 0crat commented on #373
@yegor256 Job `gh:yegor256/blog#373` already assigned to @johndotpage, can't assign to @johndotpage

[2019-07-09 08:00] 0crat commented on #373
@yegor256 The job [#373](https://github.com/yegor256/blog/issues/373) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/1eba7752-902c-4dd8-abf9-522792e8c764); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-07-09 08:03] 0crat commented on #373
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 08:05] 0crat commented on #373
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 08:05] 0crat commented on #373
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 09:30] aivinog1 opened #374 "Update copyright to 2019"
For now, I see that at the bottom of the page:
![изображение](https://user-images.githubusercontent.com/25925932/60876688-9748b800-a266-11e9-84bc-2b5052afeb0e.png)
here: https://www.yegor256.com/2019/07/02/tdd-misbeliefs.html

I think that the last date should be in 2019.

[2019-07-09 09:30] 0crat commented on #374
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 09:30] 0crat commented on #374
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 13:54] yegor256 commented on #374
@aivinog1 you are right, thanks, fixed in fa2698eb7fa

[2019-07-09 13:54] #374 closed

[2019-07-09 13:58] 0crat commented on #374
Job [#374](https://github.com/yegor256/blog/issues/374) is closed, can't start order

[2019-07-09 13:58] 0crat commented on #374
Job [#374](https://github.com/yegor256/blog/issues/374) is now in scope, role is `DEV`

[2019-07-09 14:03] 0crat commented on #374
The job [#374](https://github.com/yegor256/blog/issues/374) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3RFVLU72/cee8dcf4-38f8-4485-8f08-21fbe052b754); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-07-09 14:08] 0crat commented on #374
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-09 14:14] 0crat commented on #374
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-09 14:18] 0crat commented on #374
The job [#374](https://github.com/yegor256/blog/issues/374) is now out of scope

[2019-07-09 14:22] 0crat commented on #374
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-10 06:29] yegor256 commented on #373
@rultor deploy

[2019-07-10 06:30] rultor commented on #373
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19506-509927593)

[2019-07-10 06:42] rultor commented on #373
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19506-509927593) (took me 12min)

[2019-07-10 06:59] #373 closed

[2019-07-10 07:46] 0crat commented on #373
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-10 09:45] 0crat commented on #373
The job [#373](https://github.com/yegor256/blog/issues/373) is now out of scope

[2019-07-10 09:45] 0crat commented on #373
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-07-10 09:56] 0crat commented on #373
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#373](https://github.com/yegor256/blog/issues/373); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2019-07-11 14:23] aivinog1 opened #376 "The link to the russian translate of the article How much do you cost is broken"
In this article: https://www.yegor256.com/2014/10/29/how-much-do-you-cost.html the link to the translated article(http://karagodin.pro/how_much_do_you_cost/) is not working. See this:
![Screenshot_2019-07-11-21-22-07-130_com android chrome](https://user-images.githubusercontent.com/25925932/61058733-fef73280-a421-11e9-9774-f6b8e5323ad1.png)

[2019-07-11 14:23] 0crat commented on #376
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-11 14:23] 0crat commented on #376
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-28 08:33] yegor256 opened #377 "joy of programming"

[2019-07-28 08:33] yegor256 opened #378 "joy of programming"

[2019-07-28 08:34] #378 closed

[2019-07-28 08:35] yegor256 commented on #376
@aivinog1 removed the link, thanks!

[2019-07-28 08:35] #376 closed

[2019-07-28 08:36] yegor256 commented on #377
@johndotpage please review it

[2019-07-28 08:36] yegor256 commented on #377
@0crat assign @johndotpage

[2019-07-28 08:43] 0crat commented on #377
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#377](https://github.com/yegor256/blog/issues/377); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2019-07-28 08:45] 0crat commented on #377
@yegor256 The job [#377](https://github.com/yegor256/blog/issues/377) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/32f17815-a608-4d95-b770-cbdc4b6f012f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-07-28 08:49] 0crat commented on #377
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-28 08:49] 0crat commented on #377
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-28 08:52] 0crat commented on #378
Job `gh:yegor256/blog#378` is not assigned, can't get performer

[2019-07-28 08:52] 0crat commented on #378
This job is not in scope

[2019-07-28 08:52] 0crat commented on #376
Job `gh:yegor256/blog#376` is not assigned, can't get performer

[2019-07-28 08:52] 0crat commented on #376
This job is not in scope

[2019-07-30 12:57] yegor256 commented on #377
@rultor deploy

[2019-07-30 12:59] rultor commented on #377
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19744-516407285)

[2019-07-30 13:11] rultor commented on #377
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19744-516407285) (took me 12min)

[2019-07-30 13:26] #377 closed

[2019-07-30 13:43] 0crat commented on #377
The job [#377](https://github.com/yegor256/blog/issues/377) is now out of scope

[2019-07-30 13:44] 0crat commented on #377
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-08-01 07:26] 0crat commented on #380
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-01 07:26] 0crat commented on #380
@nick318[/z](https://www.0crat.com/u/nick318) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-16 14:18] yegor256 opened #381 "adsense"

[2019-08-16 14:19] yegor256 commented on #381
@rultor deploy

[2019-08-16 14:20] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522025703)

[2019-08-16 14:34] rultor commented on #381
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19914-522025703) (took me 14min)

[2019-08-16 14:34] #381 closed

[2019-08-16 14:41] yegor256 commented on #381
@rultor deploy

[2019-08-16 14:41] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522033332)

[2019-08-16 14:50] 0crat commented on #381
Job `gh:yegor256/blog#381` is not assigned, can't get performer

[2019-08-16 14:51] 0crat commented on #381
This job is not in scope

[2019-08-16 14:56] rultor commented on #381
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19914-522033332) (took me 15min)

[2019-08-17 05:57] yegor256 commented on #381
@rultor deploy

[2019-08-17 05:58] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522208240)

[2019-08-17 06:10] rultor commented on #381
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19914-522208240) (spent 12min)

[code]

[2019-08-17 06:13] yegor256 commented on #381
@rultor deploy

[2019-08-17 06:13] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522209043)

[2019-08-17 06:19] rultor commented on #381
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19914-522209043) (spent 6min)

[code]

[2019-08-17 07:00] yegor256 commented on #381
@rultor deploy

[2019-08-17 07:01] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522211580)

[2019-08-17 07:19] rultor commented on #381
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19914-522211580) (took me 17min)

[2019-08-18 20:01] yegor256 commented on #381
@rultor deploy

[2019-08-18 20:02] rultor commented on #381
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19914-522350773)

[2019-08-18 20:18] rultor commented on #381
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19914-522350773) (took me 16min)

[2019-08-20 14:00] yegor256 commented on #371
@rultor deploy

[2019-08-20 14:00] rultor commented on #371
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19951-523028440)

[2019-08-20 14:06] rultor commented on #371
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19951-523028440) (spent 6min)

[code]

[2019-08-20 14:10] yegor256 commented on #371
@rultor deploy

[2019-08-20 14:11] rultor commented on #371
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19951-523033039)

[2019-08-20 14:23] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19951-523033039) (took me 12min)

[2019-08-22 19:50] yegor256 commented on #371
@rultor deploy

[2019-08-22 19:51] rultor commented on #371
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19951-524051336)

[2019-08-22 20:03] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19951-524051336) (took me 12min)

[2019-09-02 07:07] yegor256 opened #382 "_standup"

[2019-09-02 07:08] yegor256 commented on #382
@johndotpage can you please proof read it?

[2019-09-02 07:08] yegor256 commented on #382
@0crat assign @johndotpage

[2019-09-02 07:09] 0crat commented on #382
@yegor256 The job [#382](https://github.com/yegor256/blog/issues/382) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/fa84f4f1-0f1a-4fe4-9d31-9a0b339693a7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-02 07:09] 0crat commented on #382
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-02 07:09] 0crat commented on #382
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-03 06:34] yegor256 commented on #382
@rultor deploy

[2019-09-03 06:34] rultor commented on #382
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20098-527324259)

[2019-09-03 06:46] rultor commented on #382
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20098-527324259) (took me 12min)

[2019-09-03 12:59] #382 closed

[2019-09-03 13:23] 0crat commented on #382
Job was finished in 29 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-03 13:23] 0crat commented on #382
The job [#382](https://github.com/yegor256/blog/issues/382) is now out of scope

[2019-09-03 13:23] 0crat commented on #382
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-09-08 10:40] yegor256 opened #386 "how to motivate kids to code"

[2019-09-08 10:41] yegor256 commented on #386
@0crat assign @johndotpage

[2019-09-08 10:41] yegor256 commented on #386
@johndotpage can you please review this?

[2019-09-08 10:45] 0crat commented on #386
@yegor256 The job [#386](https://github.com/yegor256/blog/issues/386) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/9bd17ca1-091d-4ceb-a5d3-f7c808632895); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-08 10:50] 0crat commented on #386
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-08 10:50] 0crat commented on #386
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-10 09:33] yegor256 commented on #386
@rultor deploy

[2019-09-10 09:35] rultor commented on #386
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20192-529855280)

[2019-09-10 09:46] rultor commented on #386
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20192-529855280) (took me 12min)

[2019-09-10 10:23] #386 closed

[2019-09-10 10:41] 0crat commented on #386
Job [#386](https://github.com/yegor256/blog/issues/386) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-09-10 10:42] 0crat commented on #386
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-10 10:43] 0crat commented on #386
The job [#386](https://github.com/yegor256/blog/issues/386) is now out of scope

[2019-09-10 10:44] 0crat commented on #386
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-09-14 12:35] yegor256 opened #388 "happiness"

[2019-09-14 12:35] yegor256 commented on #388
@0pdd assign @johndotpage

[2019-09-14 12:35] yegor256 commented on #388
@johndotpage can please check it? In the `_drafts` folder.

[2019-09-15 11:15] johndotpage commented on #388
@yegor256 Sure. Btw, you assigned with @0pdd. Did you mean @0crat?

[2019-09-15 11:15] 0crat commented on #388
Are you speaking to me or about me [here](https://github.com/yegor256/blog/issues/388#issuecomment-531556793); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-17 06:44] yegor256 commented on #388
@johndotpage my bad

[2019-09-17 07:45] yegor256 commented on #388
@rultor deploy

[2019-09-17 07:46] rultor commented on #388
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20287-532103434)

[2019-09-17 07:57] rultor commented on #388
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20287-532103434) (took me 11min)

[2019-09-17 08:29] #388 closed

[2019-09-17 08:48] 0crat commented on #388
Job `gh:yegor256/blog#388` is not assigned, can't get performer

[2019-09-17 08:48] 0crat commented on #388
This job is not in scope

[2019-09-22 11:03] yegor256 commented on #371
@rultor deploy

[2019-09-22 11:04] rultor commented on #371
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/19951-533871983)

[2019-09-22 11:16] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19951-533871983) (took me 12min)

[2019-09-24 13:21] yegor256 opened #390 "parsing and printing"

[2019-09-24 13:21] yegor256 commented on #390
@0crat assign @johndotpage

[2019-09-24 13:22] yegor256 commented on #390
@johndotpage please, take a look at the article in `_drafts` directory. It's alone there. About parsing and printing.

[2019-09-24 13:39] 0crat commented on #390
@yegor256 The job [#390](https://github.com/yegor256/blog/issues/390) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/cfa76b8b-0bfc-4b8b-ae56-4e1184e2b37a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-24 13:40] 0crat commented on #390
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-24 13:40] 0crat commented on #390
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-09-27 11:54] yegor256 commented on #390
@rultor deploy

[2019-09-27 11:55] rultor commented on #390
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20438-535908241)

[2019-09-27 12:00] rultor commented on #390
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20438-535908241) (spent 5min)

[code]

[2019-09-27 12:01] yegor256 commented on #390
@rultor deploy

[2019-09-27 12:02] rultor commented on #390
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20438-535910264)

[2019-09-27 12:15] rultor commented on #390
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20438-535910264) (took me 12min)

[2019-09-27 12:26] #390 closed

[2019-09-27 12:50] 0crat commented on #390
The job [#390](https://github.com/yegor256/blog/issues/390) is now out of scope

[2019-09-27 12:51] 0crat commented on #390
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-10-04 03:29] skozlov opened #395 "Incorrect number of comments"
![Снимок экрана от 2019-10-04 10-28-07](https://user-images.githubusercontent.com/3817455/66179088-d6ce4700-e691-11e9-9b78-436ef2968f44.png)
But there are comments there.

[2019-10-06 06:29] yegor256 commented on #380
@rultor deploy

[2019-10-06 06:29] rultor commented on #380
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20526-538716411)

[2019-10-06 06:40] rultor commented on #380
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20526-538716411) (took me 11min)

[2019-10-06 12:36] yegor256 commented on #380
@rultor deploy

[2019-10-06 12:37] rultor commented on #380
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20526-538743058)

[2019-10-06 12:48] rultor commented on #380
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20526-538743058) (took me 11min)

[2019-10-06 20:28] #380 closed

[2019-10-06 20:46] 0crat commented on #380
Job `gh:yegor256/blog#380` is not assigned, can't get performer

[2019-10-06 20:47] 0crat commented on #380
This job is not in scope

[2019-10-13 11:04] yegor256 opened #396 "webinar 47"

[2019-10-13 11:09] yegor256 commented on #396
@rultor deploy

[2019-10-13 11:09] rultor commented on #396
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20592-541409011)

[2019-10-13 11:21] rultor commented on #396
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20592-541409011) (took me 12min)

[2019-10-13 11:30] #396 closed

[2019-10-13 11:57] 0crat commented on #396
Job `gh:yegor256/blog#396` is not assigned, can't get performer

[2019-10-13 12:08] 0crat commented on #396
This job is not in scope

[2019-10-25 03:15] yegor256 commented on #371
@rultor deploy

[2019-10-25 03:17] rultor commented on #371
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/19951-546183306)

[2019-10-25 03:34] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/19951-546183306) (took me 17min)

[2019-10-27 03:27] yegor256 opened #398 "evolutionary revolution"
Let's publish

[2019-10-27 03:27] yegor256 commented on #398
@0crat assign @johndotpage

[2019-10-27 03:27] yegor256 commented on #398
@johndotpage can you please review `_dratfs/_team.md` article?

[2019-10-27 03:27] yegor256 opened #399 "sql as a service"

[2019-10-27 03:28] yegor256 commented on #399
@0crat assign @johndotpage

[2019-10-27 03:28] yegor256 commented on #399
@johndotpage can you please review `_drafts/_sql.md` article?

[2019-10-28 08:33] 0crat commented on #398
@yegor256 The job [#398](https://github.com/yegor256/blog/issues/398) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/034f7680-afbb-4eda-b3fa-b186cf1fc02a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-10-28 08:35] 0crat commented on #399
@yegor256 The job [#399](https://github.com/yegor256/blog/issues/399) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/c252be8e-f146-4288-8af3-57711c70bc40); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-10-28 10:06] 0crat commented on #399
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-10-28 10:07] 0crat commented on #398
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-10-28 10:36] 0crat commented on #399
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-10-28 10:37] 0crat commented on #398
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-10-29 01:19] yegor256 commented on #399
@rultor deploy

[2019-10-29 01:21] rultor commented on #399
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20728-547214053)

[2019-10-29 01:40] rultor commented on #399
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20728-547214053) (took me 18min)

[2019-10-29 01:41] #399 closed

[2019-11-02 05:41] 0crat commented on #398
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-11-02 05:53] 0crat commented on #399
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-11-03 04:10] 0crat commented on #399
@johndotpage[/z](https://www.0crat.com/u/johndotpage) resigned from [#399](https://github.com/yegor256/blog/issues/399), since the job is not in scope anymore

[2019-11-03 04:10] 0crat commented on #399
The job [#399](https://github.com/yegor256/blog/issues/399) is now out of scope

[2019-11-03 04:28] 0crat commented on #399
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.34](https://github.com/zerocracy/farm): CID: [03687beb-7c21-4ef9-8def-19c830e0f1b5](https://www.0crat.com/footprint/C3RFVLU72/03687beb-7c21-4ef9-8def-19c830e0f1b5), Type: "Order was canceled"

[2019-11-04 04:39] yegor256 commented on #398
@rultor deploy

[2019-11-04 04:40] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549222983)

[2019-11-04 04:50] rultor commented on #398
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20782-549222983) (spent 9min)

[code]

[2019-11-04 06:41] yegor256 commented on #398
@rultor deploy

[2019-11-04 06:42] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549237808)

[2019-11-04 06:52] rultor commented on #398
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20782-549237808) (spent 10min)

[code]

[2019-11-04 09:02] yegor256 commented on #398
@rultor deploy

[2019-11-04 10:07] yegor256 commented on #398
@rultor ping

[2019-11-04 10:08] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549267445)

[2019-11-04 10:27] rultor commented on #398
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20782-549267445) (took me 18min)

[2019-11-04 10:30] rultor commented on #398
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-11-04 17:40] johndotpage commented on #398
Sorry @yegor256, I didn't mean to suggest it was ready to go yet. But I am on it right now.

[2019-11-05 18:25] yegor256 commented on #398
@rultor deploy

[2019-11-05 18:26] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549943678)

[2019-11-05 18:44] rultor commented on #398
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20782-549943678) (took me 17min)

[2019-11-05 18:48] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549954468)

[2019-11-05 19:04] yegor256 commented on #398
@rultor deploy

[2019-11-05 19:07] rultor commented on #398
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20782-549954468) (took me 18min)

[2019-11-05 19:12] rultor commented on #398
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20782-549971301)

[2019-11-05 19:30] rultor commented on #398
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20782-549971301) (took me 18min)

[2019-11-06 08:40] #398 closed

[2019-11-06 09:05] 0crat commented on #398
Job [#398](https://github.com/yegor256/blog/issues/398) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-11-06 09:15] 0crat commented on #398
The job [#398](https://github.com/yegor256/blog/issues/398) is now out of scope

[2019-11-06 09:17] 0crat commented on #398
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-11-10 06:41] #371 closed

[2019-11-10 06:41] yegor256 opened #404 "webinar 48"

[2019-11-10 06:57] 0crat commented on #371
Job `gh:yegor256/blog#371` is not assigned, can't get performer

[2019-11-10 06:57] 0crat commented on #371
This job is not in scope

[2019-11-10 09:10] yegor256 commented on #404
@rultor deploy

[2019-11-10 09:11] rultor commented on #404
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20839-552176665)

[2019-11-10 09:28] rultor commented on #404
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20839-552176665) (took me 17min)

[2019-11-17 12:56] yegor256 commented on #404
@rultor deploy

[2019-11-17 12:58] rultor commented on #404
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20839-554742909)

[2019-11-17 13:15] rultor commented on #404
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20839-554742909) (took me 17min)

[2019-11-17 15:15] yegor256 opened #405 "cohesion"

[2019-11-17 15:16] yegor256 commented on #405
@0crat assign @johndotpage

[2019-11-17 15:16] yegor256 commented on #405
@johndotpage could you please review the `_del.md` file? thanks

[2019-11-17 15:17] 0crat commented on #405
@yegor256 The job [#405](https://github.com/yegor256/blog/issues/405) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/4aa6762d-2c91-4ac7-9822-21620c618903); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-11-17 15:18] 0crat commented on #405
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-11-17 15:18] 0crat commented on #405
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-11-19 15:03] pluresideas opened #407 "suggestion to use different wording to improve clarity"
In your post here: _posts/2014/dec/2014-12-01-orm-offensive-anti-pattern.md

I would suggest replacing...

with...

The users of ORM have no option they must/have to speak SQL in order to use it. That is your main point in the paragraph. I think this change would make the paragraph easier to understand.

[2019-11-19 15:04] 0crat commented on #407
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-19 15:04] 0crat commented on #407
@pluresideas[/z](https://www.0crat.com/u/pluresideas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RFVLU72) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-19 15:09] pluresideas commented on #407
I was going to create a branch for this suggestion but it failed with 403:

remote: Permission to yegor256/blog.git denied to pluresideas.
fatal: unable to access 'https://github.com/yegor256/blog.git/': The requested URL returned error: 403

[2019-11-19 17:53] johndotpage commented on #407
@pluresideas Did you fork the repo?

[2019-11-19 18:07] pluresideas commented on #407
@johndotpage I tried but it failed. The machine I am on is not setup correctly. I will try from a different machine later today and report back. Thanks!

[2019-11-19 20:16] johndotpage commented on #407
@pluresideas I mean just fork it on github. That has nothing to do with your machine. Changes to these docs can be done entirely on this website. Fork the repo, edit the file, and then do a PR.

[2019-11-19 21:21] pluresideas commented on #407
@johndotpage done: https://github.com/yegor256/blog/pull/408

Thanks for your help!

[2019-11-20 11:30] yegor256 commented on #405
@rultor deploy

[2019-11-20 11:32] rultor commented on #405
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20902-555963691)

[2019-11-20 11:49] rultor commented on #405
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20902-555963691) (took me 16min)

[2019-11-20 12:54] #405 closed

[2019-11-20 14:38] 0crat commented on #405
Job [#405](https://github.com/yegor256/blog/issues/405) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-11-20 14:39] 0crat commented on #405
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-11-20 14:52] 0crat commented on #405
The job [#405](https://github.com/yegor256/blog/issues/405) is now out of scope

[2019-11-26 16:06] #407 closed

[2019-11-26 16:28] 0crat commented on #407
Job `gh:yegor256/blog#407` is not assigned, can't get performer

[2019-11-26 16:31] 0crat commented on #407
This job is not in scope

[2019-12-01 15:42] yegor256 opened #409 "code reviews"

[2019-12-01 15:43] yegor256 commented on #409
@0crat assign @johndotpage

[2019-12-01 15:43] yegor256 commented on #409
@johndotpage please, review this

[2019-12-01 15:53] 0crat commented on #409
@yegor256 The job [#409](https://github.com/yegor256/blog/issues/409) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/6ad6ec25-5ea9-490b-8ac9-4631e4a33573); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-12-01 15:54] 0crat commented on #409
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-01 15:55] 0crat commented on #409
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-03 09:17] yegor256 commented on #409
@rultor deploy

[2019-12-03 09:18] rultor commented on #409
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/20981-561073599)

[2019-12-03 09:36] rultor commented on #409
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20981-561073599) (took me 17min)

[2019-12-03 10:30] #409 closed

[2019-12-03 10:52] 0crat commented on #409
Job was finished in 42 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-12-03 10:54] 0crat commented on #409
The job [#409](https://github.com/yegor256/blog/issues/409) is now out of scope

[2019-12-03 10:54] 0crat commented on #409
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-12-10 10:52] yegor256 opened #411 "podcast with venkat"

[2019-12-10 10:52] yegor256 commented on #411
@rultor deploy

[2019-12-10 10:54] rultor commented on #411
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21023-563978663)

[2019-12-10 11:11] rultor commented on #411
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21023-563978663) (took me 16min)

[2019-12-10 17:01] #411 closed

[2019-12-10 18:23] 0crat commented on #411
Job `gh:yegor256/blog#411` is not assigned, can't get performer

[2019-12-10 18:36] 0crat commented on #411
This job is not in scope

[2019-12-18 16:50] #404 closed

[2019-12-18 16:50] yegor256 opened #413 "webinar 49"

[2019-12-18 17:02] yegor256 commented on #413
@rultor deploy

[2019-12-18 17:03] rultor commented on #413
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21076-567121764)

[2019-12-18 17:08] 0crat commented on #404
This job is not in scope

[2019-12-18 17:08] 0crat commented on #404
Job `gh:yegor256/blog#404` is not assigned, can't get performer

[2019-12-18 17:15] rultor commented on #413
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21076-567121764) (spent 11min)

[code]

[2019-12-18 18:57] yegor256 commented on #413
@rultor deploy

[2019-12-18 18:58] rultor commented on #413
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21076-567164250)

[2019-12-18 19:14] rultor commented on #413
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21076-567164250) (took me 16min)

[2019-12-20 11:41] yegor256 opened #414 "altruism article"

[2019-12-20 11:42] yegor256 commented on #414
@0crat assign @johndotpage

[2019-12-20 11:55] yegor256 commented on #414
@johndotpage please, check `_drafts/_altruism.md`

[2019-12-20 18:27] 0crat commented on #414
@yegor256 The job [#414](https://github.com/yegor256/blog/issues/414) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/accdbaba-551d-476e-9df3-1c097d594d56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-12-20 18:39] 0crat commented on #414
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-20 18:51] 0crat commented on #414
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-21 18:54] yegor256 opened #415 "interview article"

[2019-12-21 18:54] yegor256 commented on #415
@0crat assign @johndotpage

[2019-12-21 18:54] yegor256 commented on #415
@johndotpage please, review `_drafts/interview.md`

[2019-12-21 18:57] 0crat commented on #415
@yegor256 The job [#415](https://github.com/yegor256/blog/issues/415) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/16af3cbf-2dbe-43dd-babe-94a4dc2b613a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-12-21 19:02] 0crat commented on #415
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-21 19:03] 0crat commented on #415
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-22 10:57] johndotpage commented on #415
@yegor256 When do you need to publish this one?

[2019-12-24 08:49] yegor256 commented on #414
@rultor deploy

[2019-12-24 08:50] rultor commented on #414
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21101-568696781)

[2019-12-24 09:08] rultor commented on #414
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21101-568696781) (took me 17min)

[2019-12-24 10:46] yegor256 commented on #414
@rultor deploy

[2019-12-24 10:48] rultor commented on #414
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21101-568721732)

[2019-12-24 10:51] #414 closed

[2019-12-24 11:05] rultor commented on #414
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21101-568721732) (took me 17min)

[2019-12-24 11:11] 0crat commented on #414
Job [#414](https://github.com/yegor256/blog/issues/414) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-12-24 11:14] 0crat commented on #414
The job [#414](https://github.com/yegor256/blog/issues/414) is now out of scope

[2019-12-24 11:14] 0crat commented on #414
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2019-12-26 19:49] 0crat commented on #415
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-12-28 18:35] yegor256 opened #417 "manager and chaos"

[2019-12-28 18:35] yegor256 commented on #417
@0crat assign @johndotpage

[2019-12-28 18:35] yegor256 commented on #417
@johndotpage please, review `manager.md` and `chaos.md` in the `_drafts` directory

[2019-12-28 18:47] 0crat commented on #417
@yegor256 The job [#417](https://github.com/yegor256/blog/issues/417) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/001ff052-95d3-48de-a404-f135a3ea6aaa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-12-28 18:58] 0crat commented on #417
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-28 18:58] 0crat commented on #417
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-29 05:26] yegor256 commented on #413
@rultor deploy

[2019-12-29 05:28] rultor commented on #413
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21076-569476355)

[2019-12-29 05:45] rultor commented on #413
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21076-569476355) (took me 16min)

[2019-12-31 02:56] yegor256 commented on #415
@rultor deploy

[2019-12-31 02:57] rultor commented on #415
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21131-569852984)

[2019-12-31 02:59] yegor256 commented on #415
@rultor stop

[2019-12-31 03:00] rultor commented on #415
@yegor256 OK, I'll try to stop current task.

[2019-12-31 03:01] rultor commented on #415
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21131-569853543) (spent 3min)

[code]

[2019-12-31 03:01] yegor256 commented on #415
@rultor deploy

[2019-12-31 03:04] rultor commented on #415
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21131-569853787)

[2019-12-31 03:21] rultor commented on #415
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21131-569853787) (took me 16min)

[2019-12-31 06:08] yegor256 commented on #415
@rultor deploy

[2019-12-31 06:10] rultor commented on #415
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21131-569871046)

[2019-12-31 06:26] rultor commented on #415
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21131-569871046) (took me 16min)

[2019-12-31 15:03] #415 closed

[2019-12-31 15:20] 0crat commented on #415
Job [#415](https://github.com/yegor256/blog/issues/415) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2019-12-31 15:21] 0crat commented on #415
The job [#415](https://github.com/yegor256/blog/issues/415) is now out of scope

[2019-12-31 15:21] 0crat commented on #415
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2020-01-02 18:46] 0crat commented on #417
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-07 01:18] yegor256 commented on #417
@rultor deploy

[2020-01-07 01:19] rultor commented on #417
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21142-571388935)

[2020-01-07 01:29] rultor commented on #417
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21142-571388935) (spent 9min)

[code]

[2020-01-07 01:48] yegor256 commented on #417
@rultor deploy

[2020-01-07 01:49] rultor commented on #417
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21142-571395667)

[2020-01-07 01:58] rultor commented on #417
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21142-571395667) (spent 9min)

[code]

[2020-01-07 02:06] yegor256 commented on #417
@rultor deploy

[2020-01-07 02:08] rultor commented on #417
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21142-571399668)

[2020-01-07 02:25] rultor commented on #417
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21142-571399668) (took me 16min)

[2020-01-07 08:53] #417 closed

[2020-01-07 09:10] 0crat commented on #417
Job [#417](https://github.com/yegor256/blog/issues/417) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2020-01-07 09:11] 0crat commented on #417
The job [#417](https://github.com/yegor256/blog/issues/417) is now out of scope

[2020-01-07 09:12] 0crat commented on #417
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2020-01-15 05:38] yegor256 commented on #417
@rultor deploy

[2020-01-15 05:40] rultor commented on #417
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21142-574504722)

[2020-01-15 05:57] rultor commented on #417
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21142-574504722) (took me 16min)

[2020-02-09 13:32] yegor256 commented on #413
@rultor deploy

[2020-02-09 13:34] rultor commented on #413
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21076-583845787)

[2020-02-09 13:51] rultor commented on #413
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21076-583845787) (took me 16min)

[2020-02-09 15:12] yegor256 opened #421 "cohesion"

[2020-02-09 15:12] yegor256 commented on #421
@johndotpage could you please proof read it? (`cohesion.md`)

[2020-02-09 15:12] yegor256 commented on #421
@0crat assign @johndotpage

[2020-02-09 15:13] 0crat commented on #421
@yegor256 The job [#421](https://github.com/yegor256/blog/issues/421) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/b4df6515-fc03-441b-8ab6-b607e8fc22d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-02-09 15:14] 0crat commented on #421
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-02-09 15:14] 0crat commented on #421
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-02-11 04:19] yegor256 commented on #421
@rultor deploy

[2020-02-11 04:21] rultor commented on #421
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21342-584472608)

[2020-02-11 04:39] rultor commented on #421
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21342-584472608) (took me 17min)

[2020-02-11 05:41] #421 closed

[2020-02-11 06:42] 0crat commented on #421
Job was finished in 38 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-11 07:07] 0crat commented on #421
Order was finished: +35 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2020-02-11 08:47] yegor256 commented on #421
@rultor merge

[2020-02-11 08:49] rultor commented on #421
@yegor256 It is an issue, not a pull request

[2020-02-11 08:49] rultor commented on #421
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-02-11 08:49] yegor256 commented on #421
@rultor deploy

[2020-02-11 08:51] rultor commented on #421
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21342-584530209)

[2020-02-11 09:08] rultor commented on #421
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21342-584530209) (took me 16min)

[2020-02-16 16:18] yegor256 opened #423 "fat vs skinny"

[2020-02-16 16:19] yegor256 commented on #423
@0crat assign @johndotpage

[2020-02-16 16:19] yegor256 commented on #423
@johndotpage please, check `_data.md` file, thanks!

[2020-02-16 17:27] 0crat commented on #423
@yegor256 The job [#423](https://github.com/yegor256/blog/issues/423) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/c7d5c405-b797-427f-b704-fe61f9669f5b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-02-16 18:25] 0crat commented on #423
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-02-16 18:33] 0crat commented on #423
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-02-19 06:28] yegor256 commented on #423
@rultor deploy

[2020-02-19 06:29] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588057778)

[2020-02-19 06:49] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-588057778) (took me 19min)

[2020-02-19 09:29] yegor256 commented on #423
@rultor deploy

[2020-02-19 09:30] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588121371)

[2020-02-19 09:49] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-588121371) (took me 18min)

[2020-02-19 11:36] yegor256 commented on #423
@rultor deploy

[2020-02-19 11:38] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588178051)

[2020-02-19 11:48] rultor commented on #423
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21382-588178051) (spent 10min)

[code]

[2020-02-19 12:00] yegor256 commented on #423
@rultor deploy

[2020-02-19 12:01] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588188338)

[2020-02-19 12:11] rultor commented on #423
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21382-588188338) (spent 10min)

[code]

[2020-02-19 12:59] yegor256 commented on #423
@rultor deploy

[2020-02-19 13:00] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588215408)

[2020-02-19 13:12] rultor commented on #423
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21382-588215408) (spent 12min)

[code]

[2020-02-19 13:36] yegor256 commented on #423
@rultor deploy

[2020-02-19 13:37] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588233374)

[2020-02-19 13:51] rultor commented on #423
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21382-588233374) (spent 13min)

[code]

[2020-02-19 14:26] yegor256 commented on #423
@rultor deploy

[2020-02-19 14:28] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588259680)

[2020-02-19 14:46] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-588259680) (took me 17min)

[2020-02-19 17:05] yegor256 commented on #423
@rultor deploy

[2020-02-19 17:06] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588330310)

[2020-02-19 17:25] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-588330310) (took me 18min)

[2020-02-19 17:33] yegor256 commented on #423
@rultor deploy

[2020-02-19 17:35] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-588345033)

[2020-02-19 17:55] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-588345033) (took me 19min)

[2020-02-21 16:42] 0crat commented on #423
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-23 10:04] yegor256 commented on #423
@rultor deploy

[2020-02-23 10:05] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-590051879)

[2020-02-23 10:23] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-590051879) (took me 17min)

[2020-02-24 11:41] yegor256 commented on #423
@rultor deploy

[2020-02-24 11:42] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-590281349)

[2020-02-24 11:59] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-590281349) (took me 16min)

[2020-02-24 14:08] yegor256 commented on #423
@rultor deploy

[2020-02-24 14:09] rultor commented on #423
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21382-590336204)

[2020-02-24 14:22] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21382-590336204) (took me 13min)

[2020-02-24 17:59] #423 closed

[2020-02-24 18:18] 0crat commented on #423
Job [#423](https://github.com/yegor256/blog/issues/423) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't retrieve data and time of add

[2020-02-24 18:21] 0crat commented on #423
Order was finished: +30 point(s) just awarded to @johndotpage[/z](https://www.0crat.com/u/johndotpage)

[2020-03-01 11:58] yegor256 opened #425 "prefixes"

[2020-03-01 11:58] yegor256 commented on #425
@rultor deploy

[2020-03-01 11:59] rultor commented on #425
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21447-593088844)

[2020-03-01 12:12] rultor commented on #425
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21447-593088844) (took me 12min)

[2020-03-01 13:05] yegor256 commented on #425
@0crat assign @johndotpage

[2020-03-01 13:06] yegor256 commented on #425
@johndotpage please, help me proof read this

[2020-03-01 13:17] 0crat commented on #425
@yegor256 The job [#425](https://github.com/yegor256/blog/issues/425) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/3c1a0c96-eba3-45dd-836b-d6096ed6767f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-03-01 13:20] 0crat commented on #425
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-03-01 13:22] 0crat commented on #425
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-03-04 09:04] yegor256 commented on #425
@rultor deploy

[2020-03-04 09:06] rultor commented on #425
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21447-594403514)

[2020-03-04 09:13] rultor commented on #425
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21447-594403514) (spent 6min)

[code]

[2020-03-04 14:11] yegor256 commented on #425
@rultor deploy

[2020-03-04 14:13] rultor commented on #425
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21447-594545859)

[2020-03-04 14:25] rultor commented on #425
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21447-594545859) (took me 12min)

[2020-03-04 14:45] #425 closed

[2020-03-04 16:52] yegor256 commented on #425
@rultor deploy

[2020-03-04 16:54] rultor commented on #425
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21447-594656912)

[2020-03-04 17:08] rultor commented on #425
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21447-594656912) (took me 14min)

[2020-03-10 12:52] #413 closed

[2020-03-10 12:52] yegor256 opened #427 "new article"

[2020-03-10 12:53] yegor256 commented on #427
@rultor deploy

[2020-03-10 12:54] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-597069336)

[2020-03-10 13:08] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21507-597069336) (took me 14min)

[2020-03-10 14:02] 0crat commented on #413
Job `gh:yegor256/blog#413` is not assigned, can't get performer

[2020-03-15 05:54] yegor256 commented on #427
@rultor deploy

[2020-03-15 05:55] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-599171538)

[2020-03-15 06:11] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21507-599171538) (took me 15min)

[2020-03-22 12:46] yegor256 commented on #427
@rultor deploy

[2020-03-22 12:47] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-602194742)

[2020-03-22 13:00] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21507-602194742) (took me 13min)

[2020-03-24 06:18] yegor256 commented on #427
@rultor deploy

[2020-03-24 06:19] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-603039599)

[2020-03-24 06:29] rultor commented on #427
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21507-603039599) (spent 9min)

[code]

[2020-04-30 16:34] yegor256 opened #428 "open source arm race"

[2020-04-30 18:30] yegor256 commented on #428
@0crat assign @johndotpage

[2020-04-30 18:31] yegor256 commented on #428
@johndotpage can you please help with `_drafts/os.md` article?

[2020-04-30 18:33] 0crat commented on #428
@yegor256 The job [#428](https://github.com/yegor256/blog/issues/428) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/5da4eb8c-2703-45ce-aaab-0bf5330f00e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-01 05:47] yegor256 commented on #427
@rultor deploy

[2020-05-01 05:48] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-622259699)

[2020-05-01 06:01] rultor commented on #427
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21507-622259699) (spent 12min)

[code]

[2020-05-01 06:02] yegor256 commented on #427
@rultor deploy

[2020-05-01 06:03] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-622262857)

[2020-05-01 06:17] rultor commented on #427
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21507-622262857) (spent 14min)

[code]

[2020-05-01 07:30] yegor256 commented on #427
@rultor deploy

[2020-05-01 07:31] rultor commented on #427
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21507-622283496)

[2020-05-01 07:48] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21507-622283496) (took me 17min)

[2020-05-05 11:33] yegor256 commented on #428
@rultor deploy

[2020-05-05 11:34] rultor commented on #428
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21965-624001512)

[2020-05-05 11:52] rultor commented on #428
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21965-624001512) (took me 18min)

[2020-05-05 12:40] yegor256 commented on #428
@rultor deploy

[2020-05-05 12:41] rultor commented on #428
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21965-624031065)

[2020-05-05 12:59] rultor commented on #428
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21965-624031065) (took me 18min)

[2020-05-05 13:14] yegor256 commented on #428
@rultor deploy

[2020-05-05 13:15] rultor commented on #428
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/21965-624047836)

[2020-05-05 13:33] rultor commented on #428
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21965-624047836) (took me 18min)

[2020-05-05 14:17] #428 closed

[2020-05-05 14:34] 0crat commented on #428
Job [#428](https://github.com/yegor256/blog/issues/428) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't set title

[2020-05-11 10:11] yegor256 opened #430 "career killer"

[2020-05-11 10:12] yegor256 commented on #430
@0crat assign @johndotpage

[2020-05-11 10:12] yegor256 commented on #430
@johndotpage can you please help with `_drafts/_future.md`

[2020-05-11 10:13] 0crat commented on #430
@yegor256 The job [#430](https://github.com/yegor256/blog/issues/430) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/e9282f65-099d-4df2-a3b0-175e0d328bf9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-11 17:59] yegor256 opened #431 "veil"

[2020-05-13 11:00] johndotpage commented on #430
Sorry @yegor256! I've only just seen this (I'd got out of the habit of checking regularly - but back to it now). :)

I'll get on it this evening.

[2020-05-14 12:13] yegor256 commented on #430
@rultor deploy

[2020-05-14 12:14] rultor commented on #430
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22046-628593217)

[2020-05-14 12:32] rultor commented on #430
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22046-628593217) (took me 17min)

[2020-05-14 13:08] #430 closed

[2020-05-14 13:25] 0crat commented on #430
Job [#430](https://github.com/yegor256/blog/issues/430) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't set title

[2020-05-17 06:31] yegor256 commented on #431
@0crat assign @johndotpage

[2020-05-17 06:32] yegor256 commented on #431
@johndotpage please, check the `veil` article

[2020-05-17 06:33] 0crat commented on #431
@yegor256 The job [#431](https://github.com/yegor256/blog/issues/431) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/ca0277f7-6e7c-459d-89d0-5e055cd334f1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-19 10:34] yegor256 commented on #431
@rultor deploy

[2020-05-19 10:35] rultor commented on #431
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22097-630734909)

[2020-05-19 10:44] rultor commented on #431
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22097-630734909) (spent 9min)

[code]

[2020-05-19 11:27] yegor256 commented on #431
@rultor deploy

[2020-05-19 11:29] rultor commented on #431
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22097-630758401)

[2020-05-19 11:46] rultor commented on #431
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22097-630758401) (took me 17min)

[2020-05-19 12:44] #431 closed

[2020-05-19 13:02] 0crat commented on #431
Job [#431](https://github.com/yegor256/blog/issues/431) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't set title

[2020-06-21 19:30] yegor256 opened #435 "metrics"

[2020-06-21 19:30] yegor256 commented on #435
@0crat assign @johndotpage

[2020-06-21 19:31] yegor256 commented on #435
@johndotpage please, check `_drafts/metrics.md`

[2020-06-21 19:32] 0crat commented on #435
@yegor256 The job [#435](https://github.com/yegor256/blog/issues/435) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/6740ce8b-d1dc-422d-b471-03ec52babaf4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-06-23 04:50] yegor256 commented on #435
@rultor deploy

[2020-06-23 04:51] rultor commented on #435
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22417-647905812)

[2020-06-23 05:01] rultor commented on #435
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22417-647905812) (spent 10min)

[code]

[2020-06-23 05:03] yegor256 commented on #435
@rultor deploy

[2020-06-23 05:04] rultor commented on #435
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22417-647909177)

[2020-06-23 05:21] rultor commented on #435
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22417-647909177) (took me 17min)

[2020-06-23 05:27] #435 closed

[2020-06-23 05:54] 0crat commented on #435
Job [#435](https://github.com/yegor256/blog/issues/435) is not in the agenda of @johndotpage[/z](https://www.0crat.com/u/johndotpage), can't set title

[2020-06-23 05:55] 0crat commented on #435
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-26 18:53] #427 closed

[2020-07-26 18:53] yegor256 opened #437 "oss etiquette article"

[2020-07-26 18:53] yegor256 commented on #437
@johndotpage please, check it at `_drafts/oss.md`

[2020-07-26 19:11] 0crat commented on #427
Job `gh:yegor256/blog#427` is not assigned, can't get performer

[2020-07-29 05:39] yegor256 commented on #437
@rultor deploy

[2020-07-29 05:40] rultor commented on #437
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22759-665443265)

[2020-07-29 05:57] rultor commented on #437
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22759-665443265) (took me 17min)

[2020-07-29 06:23] #437 closed

[2020-07-29 13:03] 0crat commented on #437
Job `gh:yegor256/blog#437` is not assigned, can't get performer

[2020-08-05 08:36] yegor256 opened #439 "webinar 50"

[2020-08-05 08:36] yegor256 commented on #439
@rultor deploy

[2020-08-05 08:37] rultor commented on #439
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22815-669062369)

[2020-08-05 08:56] rultor commented on #439
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22815-669062369) (took me 19min)

[2020-08-05 09:54] #439 closed

[2020-08-05 10:12] 0crat commented on #439
Job `gh:yegor256/blog#439` is not assigned, can't get performer

[2020-08-14 05:45] yegor256 opened #440 "new webinar"

[2020-08-14 06:01] yegor256 commented on #440
@rultor deploy

[2020-08-14 06:02] rultor commented on #440
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22948-673902397)

[2020-08-14 06:20] rultor commented on #440
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22948-673902397) (took me 18min)

[2020-09-06 05:49] yegor256 commented on #440
@rultor deploy

[2020-09-06 05:49] rultor commented on #440
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22948-687705745)

[2020-09-06 06:06] rultor commented on #440
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22948-687705745) (took me 17min)

[2020-09-08 12:52] yegor256 opened #441 "award 2020"

[2020-09-08 12:57] yegor256 commented on #441
@rultor deploy

[2020-09-08 12:59] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-688848253)

[2020-09-08 13:16] rultor commented on #441
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23266-688848253) (took me 17min)

[2020-09-13 14:04] yegor256 commented on #441
@rultor deploy

[2020-09-13 14:05] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-691675634)

[2020-09-13 14:22] rultor commented on #441
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23266-691675634) (took me 17min)

[2020-09-14 06:02] yegor256 commented on #441
@rultor deploy

[2020-09-14 06:03] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-691831741)

[2020-09-14 06:20] rultor commented on #441
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23266-691831741) (took me 17min)

[2020-09-18 05:19] yegor256 commented on #441
@rultor deploy

[2020-09-18 05:20] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-694657061)

[2020-09-18 05:37] rultor commented on #441
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23266-694657061) (took me 17min)

[2020-09-29 16:56] yegor256 commented on #440
@rultor deploy

[2020-09-29 16:57] rultor commented on #440
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22948-700846196)

[2020-09-29 17:14] rultor commented on #440
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22948-700846196) (took me 17min)

[2020-10-02 18:47] fellahi-ali opened #448 "Typo in a candidat project name for the Quality Award 2020"
There is a typo in the name of a project listed for the Software Quality Award 2020 [here](https://www.yegor256.com/2019/11/03/award-2020.html)

`altiore/altiore.ui` should be `altiore/lorder.ui`

[2020-10-02 18:47] 0crat commented on #448
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: yegor256/blog#448, Action: `opened`

[2020-10-04 15:39] yegor256 commented on #440
@rultor deploy

[2020-10-04 15:40] rultor commented on #440
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/22948-703273359)

[2020-10-04 15:57] rultor commented on #440
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22948-703273359) (took me 17min)

[2020-10-04 16:05] 0crat commented on #448
Job `gh:yegor256/blog#448` is not assigned, can't get performer

[2020-10-04 19:14] yegor256 opened #450 "texsc article"

[2020-10-04 19:14] yegor256 commented on #450
@johndotpage can you please review `_drafts/texsc.md`

[2020-10-04 19:15] yegor256 commented on #450
@0crat assign @johndotpage

[2020-10-04 19:16] 0crat commented on #450
@yegor256 The job [#450](https://github.com/yegor256/blog/issues/450) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/c083de0f-f5ed-4cec-ab0f-08da615e27d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-10-06 05:47] yegor256 commented on #450
@rultor deploy

[2020-10-06 05:48] rultor commented on #450
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23491-704042643)

[2020-10-06 06:04] rultor commented on #450
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23491-704042643) (took me 16min)

[2020-10-06 06:11] #450 closed

[2020-10-06 06:28] 0crat commented on #450
Job was finished in 34 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-10-11 11:25] yegor256 opened #452 "blog post about problems"

[2020-10-11 11:25] yegor256 commented on #452
@0crat assign @johndotpage

[2020-10-11 11:26] yegor256 commented on #452
@johndotpage can you please review the blog post at `_drafts/problem.md`? thanks

[2020-10-11 11:27] 0crat commented on #452
@yegor256 The job [#452](https://github.com/yegor256/blog/issues/452) assigned to @johndotpage[/z](https://www.0crat.com/u/johndotpage), here is [why](https://www.0crat.com/footprint/C3RFVLU72/76aaf3c5-e1fa-42d5-b8ed-a37e8f8e9e60); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-10-13 18:02] yegor256 commented on #452
@rultor deploy

[2020-10-13 18:03] rultor commented on #452
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23528-707914044)

[2020-10-13 18:21] rultor commented on #452
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23528-707914044) (took me 17min)

[2020-10-13 18:29] #452 closed

[2020-10-19 06:51] #440 closed

[2020-10-19 06:51] yegor256 opened #455 "Webinar 52: RAII in Java"

[2020-10-19 06:51] yegor256 commented on #455
@rultor deploy

[2020-10-19 07:08] 0crat commented on #440
Job `gh:yegor256/blog#440` is not assigned, can't get performer

[2020-10-19 09:53] yegor256 commented on #455
@rultor deploy

[2020-10-19 09:54] rultor commented on #455
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23564-711692870)

[2020-10-19 10:11] rultor commented on #455
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23564-711692870) (took me 16min)

[2020-10-19 10:13] rultor commented on #455
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23564-711957400)

[2020-10-19 10:29] rultor commented on #455
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23564-711957400) (took me 16min)

[2020-10-19 10:39] yegor256 opened #456 "encapsulation and coupling density"
Let's try to suggest a new metric: "density of coupling"

[2020-10-21 12:53] yegor256 commented on #456
@johndotpage can you please proof read this one: `_drafts/encapsulation.md`

[2020-10-21 12:53] yegor256 commented on #456
@0crat assign @johndotpage

[2020-10-25 08:16] yegor256 commented on #456
@rultor deploy

[2020-10-25 08:17] rultor commented on #456
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23593-716110384)

[2020-10-25 08:26] rultor commented on #456
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23593-716110384) (spent 10min)

[code]

[2020-10-25 08:28] yegor256 commented on #456
@rultor deploy

[2020-10-25 08:29] rultor commented on #456
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23593-716111535)

[2020-10-25 08:46] rultor commented on #456
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23593-716111535) (took me 17min)

[2020-10-25 16:11] yegor256 opened #459 "daily reports"

[2020-10-25 16:12] yegor256 commented on #459
@johndotpage please help me review this: `_drafts/daily.md`

[2020-10-26 14:00] 0crat commented on #456
@johndotpage[/z](https://www.0crat.com/u/johndotpage) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-10-27 06:31] yegor256 commented on #456
@rultor deploy

[2020-10-27 06:32] rultor commented on #456
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23593-717018073)

[2020-10-27 06:52] rultor commented on #456
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23593-717018073) (took me 20min)

[2020-10-27 07:58] #456 closed

[2020-10-29 18:06] yegor256 commented on #459
@rultor deploy

[2020-10-29 18:07] rultor commented on #459
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23612-718927958)

[2020-10-29 18:27] rultor commented on #459
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23612-718927958) (took me 21min)

[2020-11-01 12:14] yegor256 opened #460 "types"

[2020-11-01 15:03] yegor256 commented on #460
@johndotpage please, help me with this one

[2020-11-03 16:29] yegor256 commented on #459
@rultor deploy

[2020-11-03 16:31] rultor commented on #459
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23612-721236641)

[2020-11-03 16:48] rultor commented on #459
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23612-721236641) (took me 17min)

[2020-11-08 10:53] yegor256 commented on #460
@johndotpage please, don't forget about this one

[2020-11-08 12:48] yegor256 opened #463 "objects without methods"

[2020-11-08 13:02] yegor256 commented on #463
@rultor deploy

[2020-11-08 13:03] rultor commented on #463
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23656-723574549)

[2020-11-08 13:22] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23656-723574549) (took me 18min)

[2020-11-10 06:45] yegor256 commented on #460
@rultor deploy

[2020-11-10 06:46] rultor commented on #460
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23663-724498428)

[2020-11-10 07:03] rultor commented on #460
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23663-724498428) (took me 17min)

[2020-11-10 07:26] #460 closed

[2020-11-10 07:59] 0crat commented on #460
Job `gh:yegor256/blog#460` is not assigned, can't get performer

[2020-11-12 17:25] akuleshov7 opened #465 "FYI: Jekyll custom plugins that are banned by github have implementation in standard library"
This is just FYI, so you (or someone else like @olegmoz or @g4s8) will be able to workaround it in case of any problems.

For example: `reading_time.rb` will not work with github as it is not white listed.
So all calls from `index.html` will not be executed:
[code]

In this case you can **workaround** it with function from the standard library and Liquid:
[code]

[code]

[2020-11-12 17:25] 0crat commented on #465
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: yegor256/blog#465, Action: `opened`

[2020-11-15 17:23] yegor256 commented on #441
@rultor deploy

[2020-11-15 17:24] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-727605268)

[2020-11-15 17:34] rultor commented on #441
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23266-727605268) (spent 10min)

[code]

[2020-11-15 17:41] yegor256 commented on #441
@rultor deploy

[2020-11-15 17:42] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-727607829)

[2020-11-15 17:54] rultor commented on #441
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23266-727607829) (spent 12min)

[code]

[2020-11-15 17:58] yegor256 commented on #441
@rultor deploy

[2020-11-15 17:59] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-727610307)

[2020-11-15 18:11] rultor commented on #441
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23266-727610307) (spent 12min)

[code]

[2020-11-15 19:46] yegor256 commented on #441
@rultor deploy

[2020-11-15 19:47] rultor commented on #441
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23266-727625673)

[2020-11-15 20:04] rultor commented on #441
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23266-727625673) (took me 17min)

[2020-11-15 20:31] #441 closed

[2020-11-16 08:21] yegor256 opened #466 "shift-m 43 with David West"

[2020-11-16 08:22] #459 closed

[2020-11-16 08:23] #455 closed

[2020-11-16 08:37] yegor256 commented on #466
@rultor deploy

[2020-11-16 08:37] rultor commented on #466
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23701-727825580)

[2020-11-16 08:55] rultor commented on #466
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23701-727825580) (took me 18min)

[2020-11-16 11:19] #466 closed

[2020-11-22 16:46] yegor256 commented on #463
@johndotpage please, help review `_drafts/methods.md`

[2020-11-24 18:22] yegor256 commented on #463
@rultor deploy

[2020-11-24 18:23] rultor commented on #463
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23656-733154215)

[2020-11-24 18:31] rultor commented on #463
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23656-733154215) (spent 7min)

[code]

[2020-11-24 18:33] yegor256 commented on #463
@rultor deploy

[2020-11-24 18:34] rultor commented on #463
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23656-733159351)

[2020-11-24 18:49] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23656-733159351) (took me 15min)

[2020-11-24 18:58] #463 closed

[2020-11-24 19:00] yegor256 commented on #463
@rultor deploy

[2020-11-24 19:00] rultor commented on #463
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23656-733172301)

[2020-11-24 19:15] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23656-733172301) (took me 15min)

[2020-11-24 20:17] yegor256 commented on #463
@rultor deploy

[2020-11-24 20:18] rultor commented on #463
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23656-733210416)

[2020-11-24 20:36] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23656-733210416) (took me 18min)

[2020-11-29 08:27] yegor256 opened #469 "abstraction and application"

[2020-11-29 08:30] yegor256 commented on #465
@akuleshov7 thanks, fixed in 109f73a5bf0

[2020-11-29 08:30] #465 closed

[2020-11-29 12:24] yegor256 commented on #469
@johndotpage can you please check this one: `_drafts/abstract.md`

[2020-12-01 19:23] yegor256 commented on #469
@rultor deploy

[2020-12-01 19:24] rultor commented on #469
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23792-736765435)

[2020-12-01 19:51] rultor commented on #469
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23792-736765435) (took me 27min)

[2020-12-01 19:57] #469 closed

[2020-12-06 13:19] yegor256 opened #472 "webinar #54"

[2020-12-06 13:20] yegor256 commented on #472
@rultor deploy

[2020-12-06 13:20] rultor commented on #472
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23821-739501773)

[2020-12-06 13:33] rultor commented on #472
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23821-739501773) (took me 12min)

[2020-12-06 17:03] yegor256 commented on #472
@rultor deploy

[2020-12-06 17:04] rultor commented on #472
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23821-739531774)

[2020-12-06 17:15] rultor commented on #472
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23821-739531774) (spent 11min)

[code]

[2020-12-06 19:58] yegor256 commented on #472
@rultor deploy

[2020-12-06 19:59] rultor commented on #472
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23821-739554777)

[2020-12-06 20:07] rultor commented on #472
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23821-739554777) (spent 8min)

[code]

[2020-12-06 20:26] yegor256 commented on #472
@rultor deploy

[2020-12-06 20:28] rultor commented on #472
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23821-739558613)

[2020-12-06 20:44] rultor commented on #472
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23821-739558613) (took me 16min)

[2020-12-13 18:36] yegor256 opened #473 "new article on management"

[2020-12-13 18:36] yegor256 commented on #473
@johndotpage can you please help? `_drafts/mgmt.md`

[2020-12-17 00:09] johndotpage commented on #473
Ah @yegor256 sorry! This slipper under the radar somehow. Been distracted. I'll get on it tomorrow.

[2020-12-20 10:18] yegor256 opened #476 "new management metric article"

[2020-12-20 12:40] yegor256 commented on #476
@johndotpage can you please help? it's `_drafts/metric.md`

[2020-12-22 06:04] yegor256 commented on #473
@rultor deploy

[2020-12-22 06:05] rultor commented on #473
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23894-749359308)

[2020-12-22 06:16] rultor commented on #473
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23894-749359308) (took me 11min)

[2020-12-22 07:07] yegor256 commented on #473
@rultor deploy

[2020-12-22 07:08] rultor commented on #473
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23894-749385169)

[2020-12-22 07:21] rultor commented on #473
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23894-749385169) (took me 12min)

[2020-12-22 07:55] #473 closed

[2020-12-29 18:37] yegor256 commented on #476
@rultor deploy

[2020-12-29 18:37] rultor commented on #476
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23922-752198235)

[2020-12-29 18:50] rultor commented on #476
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23922-752198235) (spent 12min)

[code]

[2020-12-29 19:01] yegor256 commented on #476
@rultor deploy

[2020-12-29 19:01] rultor commented on #476
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/23922-752206218)

[2020-12-29 19:32] rultor commented on #476
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23922-752206218) (took me 31min)

[2020-12-29 19:37] #476 closed

[2020-12-29 20:05] 0crat commented on #476
Job `gh:yegor256/blog#476` is not assigned, can't get performer

[2021-01-31 11:42] yegor256 opened #479 "article about planning"

[2021-01-31 11:43] yegor256 commented on #479
@johndotpage can you please help, it's in `drafts/plan.md`

[2021-02-02 07:20] yegor256 commented on #479
@rultor deploy

[2021-02-02 07:21] rultor commented on #479
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24060-771424850)

[2021-02-02 07:28] rultor commented on #479
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24060-771424850) (spent 7min)

[code]

[2021-02-02 07:29] yegor256 commented on #479
@rultor deploy

[2021-02-02 07:31] rultor commented on #479
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24060-771429804)

[2021-02-02 07:38] rultor commented on #479
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24060-771429804) (spent 7min)

[code]

[2021-02-02 19:56] yegor256 commented on #479
@rultor deploy

[2021-02-02 19:58] rultor commented on #479
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24060-771935249)

[2021-02-02 20:15] rultor commented on #479
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24060-771935249) (took me 17min)

[2021-02-02 20:18] #479 closed

[2021-02-02 20:35] 0crat commented on #479
Job `gh:yegor256/blog#479` is not assigned, can't get performer

[2021-02-06 05:27] yegor256 opened #481 "shift-m 45"

[2021-02-06 05:56] yegor256 commented on #481
@rultor deploy

[2021-02-06 05:57] rultor commented on #481
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24088-774406524)

[2021-02-06 06:07] rultor commented on #481
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24088-774406524) (spent 9min)

[code]

[2021-02-06 06:22] yegor256 commented on #481
@rultor deploy

[2021-02-06 06:24] rultor commented on #481
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24088-774409044)

[2021-02-06 06:38] rultor commented on #481
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24088-774409044) (took me 14min)

[2021-02-06 06:52] #481 closed

[2021-02-06 07:09] 0crat commented on #481
Job `gh:yegor256/blog#481` is not assigned, can't get performer

[2021-02-06 07:17] yegor256 opened #482 "webinar #55"

[2021-02-06 07:17] #472 closed

[2021-02-06 07:34] 0crat commented on #472
Job `gh:yegor256/blog#472` is not assigned, can't get performer

[2021-02-06 11:10] yegor256 commented on #482
@rultor deploy

[2021-02-06 11:12] rultor commented on #482
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24089-774453953)

[2021-02-06 11:26] rultor commented on #482
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24089-774453953) (took me 14min)

[2021-02-06 11:29] #482 closed

[2021-02-06 12:03] 0crat commented on #482
Job `gh:yegor256/blog#482` is not assigned, can't get performer

[2021-02-07 20:46] yegor256 opened #483 "datarization"

[2021-02-07 20:46] yegor256 commented on #483
@johndotpage can you please with `_drafts/phi.md`?

[2021-02-10 06:37] yegor256 commented on #483
@rultor deploy

[2021-02-10 06:38] rultor commented on #483
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24108-776482172)

[2021-02-10 06:51] rultor commented on #483
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24108-776482172) (took me 13min)

[2021-02-10 06:54] #483 closed

[2021-02-10 07:17] 0crat commented on #483
Job `gh:yegor256/blog#483` is not assigned, can't get performer

[2021-02-27 14:29] yegor256 opened #485 "imposter article"

[2021-02-27 14:33] yegor256 commented on #485
@johndotpage could you please check this one?

[2021-03-03 04:49] yegor256 commented on #485
@rultor deploy

[2021-03-03 04:50] rultor commented on #485
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24218-789426618)

[2021-03-03 04:57] rultor commented on #485
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24218-789426618) (spent 7min)

[code]

[2021-03-03 05:08] yegor256 commented on #485
@rultor deploy

[2021-03-03 05:09] rultor commented on #485
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24218-789434619)

[2021-03-03 05:23] rultor commented on #485
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24218-789434619) (took me 13min)

[2021-03-03 05:40] #485 closed

[2021-03-03 06:08] 0crat commented on #485
Job `gh:yegor256/blog#485` is not assigned, can't get performer

[2021-03-17 05:41] yegor256 opened #488 "shift-m/46"

[2021-03-17 06:07] yegor256 commented on #488
@rultor deploy

[2021-03-17 06:08] rultor commented on #488
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24286-800822658)

[2021-03-17 06:22] rultor commented on #488
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24286-800822658) (took me 14min)

[2021-03-17 08:56] #488 closed

[2021-03-17 09:14] 0crat commented on #488
Job `gh:yegor256/blog#488` is not assigned, can't get performer

[2021-03-19 08:20] yegor256 opened #489 "webinar 56"

[2021-03-19 09:02] yegor256 commented on #489
@rultor deploy

[2021-03-19 09:03] rultor commented on #489
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24293-802668684)

[2021-03-19 09:16] rultor commented on #489
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24293-802668684) (took me 14min)

[2021-04-05 05:31] yegor256 opened #490 "post about iccq"

[2021-04-11 05:21] yegor256 commented on #490
@johndotpage could you please help with this?

[2021-04-14 12:20] yegor256 commented on #490
@rultor deploy

[2021-04-14 12:21] rultor commented on #490
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24356-819474813)

[2021-04-14 12:34] rultor commented on #490
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24356-819474813) (took me 12min)

[2021-04-14 12:35] yegor256 commented on #490
@rultor deploy

[2021-04-14 12:37] rultor commented on #490
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24356-819483840)

[2021-04-14 12:49] rultor commented on #490
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24356-819483840) (took me 13min)

[2021-04-14 13:50] yegor256 commented on #490
@rultor deploy

[2021-04-15 03:56] #490 closed

[2021-04-15 04:17] 0crat commented on #490
Job `gh:yegor256/blog#490` is not assigned, can't get performer

[2021-05-23 08:24] yegor256 opened #493 "recruiters"

[2021-05-23 08:24] yegor256 commented on #493
@johndotpage please check `_drafts/recruiters.md`

[2021-05-31 10:11] yegor256 commented on #493
@rultor deploy

[2021-05-31 10:12] rultor commented on #493
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24577-851383281)

[2021-05-31 10:21] rultor commented on #493
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24577-851383281) (spent 9min)

[code]

[2021-05-31 12:53] yegor256 commented on #493
@rultor deploy

[2021-05-31 12:54] rultor commented on #493
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24577-851471102)

[2021-05-31 13:07] rultor commented on #493
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24577-851471102) (took me 13min)

[2021-05-31 13:08] #493 closed

[2021-06-01 04:55] yegor256 commented on #493
@rultor deploy

[2021-06-01 04:56] rultor commented on #493
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24577-851803548)

[2021-06-01 05:09] rultor commented on #493
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24577-851803548) (took me 13min)

[2021-07-01 06:01] yegor256 commented on #489
@rultor deploy

[2021-07-01 06:02] rultor commented on #489
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24293-871946501)

[2021-07-01 06:12] rultor commented on #489
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24293-871946501) (spent 10min)

[code]

[2021-07-01 07:11] yegor256 commented on #489
@rultor deploy

[2021-07-01 07:13] rultor commented on #489
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24293-871987211)

[2021-07-01 07:23] rultor commented on #489
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24293-871987211) (spent 10min)

[code]

[2021-07-01 07:27] yegor256 commented on #489
@rultor deploy

[2021-07-01 07:27] rultor commented on #489
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24293-871997089)

[2021-07-01 07:41] rultor commented on #489
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24293-871997089) (took me 13min)

[2021-07-27 18:21] yegor256 opened #495 "shift-m 47"

[2021-07-27 18:38] yegor256 commented on #495
@rultor deploy

[2021-07-27 18:39] rultor commented on #495
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24836-887742114)

[2021-07-27 18:53] rultor commented on #495
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24836-887742114) (took me 13min)

[2021-07-27 19:11] #495 closed

[2021-08-01 06:28] yegor256 opened #496 "prestructor"

[2021-08-01 06:28] yegor256 commented on #496
@johndotpage please, take a look

[2021-08-01 11:10] yegor256 opened #497 "logging in tests"

[2021-08-01 11:47] yegor256 commented on #497
@rultor deploy

[2021-08-01 11:48] rultor commented on #497
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24866-890504767)

[2021-08-01 12:01] rultor commented on #497
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24866-890504767) (took me 13min)

[2021-08-01 13:16] yegor256 commented on #497
@johndotpage please, check this out

[2021-08-01 14:42] yegor256 opened #498 "Power, book review"

[2021-08-03 04:09] yegor256 commented on #489
@rultor deploy

[2021-08-03 04:10] rultor commented on #489
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24293-891506164)

[2021-08-03 04:40] rultor commented on #489
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24293-891506164) (took me 29min)

[2021-08-04 18:04] yegor256 commented on #496
@rultor deploy

[2021-08-04 18:04] rultor commented on #496
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24875-892861595)

[2021-08-04 18:32] #496 closed

[2021-08-05 04:57] yegor256 commented on #497
@rultor deploy

[2021-08-05 04:59] rultor commented on #497
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24866-893164165)

[2021-08-05 05:12] rultor commented on #497
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24866-893164165) (took me 13min)

[2021-08-08 14:49] yegor256 commented on #497
@rultor deploy

[2021-08-08 14:49] rultor commented on #497
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24866-894808731)

[2021-08-08 15:03] rultor commented on #497
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24866-894808731) (took me 13min)

[2021-08-11 11:41] yegor256 commented on #497
@rultor deploy

[2021-08-11 11:42] rultor commented on #497
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/24866-896755177)

[2021-08-11 11:56] rultor commented on #497
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24866-896755177) (took me 13min)

[2021-08-11 12:00] #497 closed

[2021-08-11 13:05] iakunin opened #501 "Broken markup"
### Bug description:
Broken markup on page https://www.yegor256.com/2017/05/17/single-statement-unit-tests.html.

Here is the [screenshot](https://user-images.githubusercontent.com/10430347/129033319-427734c8-b503-496d-9853-e9e2acc4156c.png) of a bug. Where the problem area is highlighted with green color.

### Environment:
My browser is Chromium: `Version 90.0.4430.72`.
OS: `Ubuntu 16.04 (64-bit)